<a href="javascript:" onclick="history.go(-1)" style="font-size:15px;font-weight:normal;font-family:sans-serif;"><< Back to previous page</a>
<table id="Table1" cellSpacing="1" cellPadding="1" width="100%" border="0">
				<tr>
					<td align="center" width="100%" colspan="2">
					    <table id="Table2" cellSpacing="0" cellPadding="0" width="100%"  border="0">
							<tr>
								<td align="center">
								    <font style="FONT-WEIGHT: bold; FONT-SIZE: 12pt; FONT-FAMILY: Arial" color="#003366">JUDICIAL FORMS</font>
								</td>
							</tr>

						</table>
					</td>

				</tr>
			</table>
			<table align="center" >
				<tr>
				    <td align="center">
				     &nbsp;
				    </td>
				</tr>
				<tr>
				    <td align="left" valign="top">
				         <div id="pnlGrid">

				                <table cellspacing="0" rules="all" border="1" id="dgForm" style="font-size:10pt;width:570px;border-collapse:collapse;">
		<tr style="color:White;background-color:#003366;font-weight:bold;">
			<td>Name</td><td>Description</td><td style="width:40px;">Download</td>
		</tr><tr>
			<td>1- Expedited Handling Cover Sheet</td><td>Expedited Handling Cover Sheet</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=0dd4b423-1807-4cd0-91f2-89d72ab11eb2 target='_blank'>PDF</a></td>
		</tr><tr style="background-color:#E9F3FF;">
			<td>Adp - Affidavit of Natural Parent.pdf</td><td>Affidavit of Natural Parent</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=3c989ee3-5bda-4298-9628-45f35a5d73c3 target='_blank'>PDF</a></td>
		</tr><tr>
			<td>Adp - Affidavit of Petitioner.pdf</td><td>Affidavit of Petitioner</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=8febe2d6-1c50-43d6-aa32-d7b72120b668 target='_blank'>PDF</a></td>
		</tr><tr style="background-color:#E9F3FF;">
			<td>Adp - Affidavit re birth certificate.pdf</td><td>Affidavit re birth certificate</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=aad44d13-76bd-4a09-9a2f-e317d7285a96 target='_blank'>PDF</a></td>
		</tr><tr>
			<td>Adp - Consent by parent.pdf</td><td>Consent by parent</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=2a81ca77-5d3c-490d-8f82-be6d4c8294ca target='_blank'>PDF</a></td>
		</tr><tr style="background-color:#E9F3FF;">
			<td>Adp - Consent minor-gal parent.pdf</td><td>Consent minor-gal parent</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=a7860e26-5b3e-4565-9465-24b24a071e73 target='_blank'>PDF</a></td>
		</tr><tr>
			<td>Adp - Consent of Adult to be Adopted.pdf</td><td>Consent of Adult to be Adopted</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=e008767d-5bfc-4d1d-b794-55b971167b9b target='_blank'>PDF</a></td>
		</tr><tr style="background-color:#E9F3FF;">
			<td>Adp - Consent of minor.pdf</td><td>Consent of minor</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=65916842-decb-4d5f-977f-a30f6db9d328 target='_blank'>PDF</a></td>
		</tr><tr>
			<td>Adp - Disclosure of Anticipated Disbursements.pdf</td><td>Disclosure of Anticipated Disbursements</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=e8c3675e-c3e9-4d64-a9ba-4669be5e3aee target='_blank'>PDF</a></td>
		</tr><tr style="background-color:#E9F3FF;">
			<td>Adp - Motion for Pre Birth Consent Hearing.pdf</td><td>Motion for Pre Birth Consent Hearing</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=b9c554e0-7788-4af0-8a5a-e2818445c2ea target='_blank'>PDF</a></td>
		</tr><tr>
			<td>Adp - Motion to Dispense with Pre Placement.pdf</td><td>Motion to Dispense with Pre Placement</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=e626dbcf-98f8-4e86-ae3e-1b7cd8aff6fe target='_blank'>PDF</a></td>
		</tr><tr style="background-color:#E9F3FF;">
			<td>Adp - Motion to Waive Residency Requirement.pdf</td><td>Motion to Waive Residency Requirement</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=56d95f7f-e263-498d-8d34-23d6f2b88a8a target='_blank'>PDF</a></td>
		</tr><tr>
			<td>Adp - Pet for Appointment of GAL and Nomination</td><td>Petition for Appointment of GAL and Nomination by Minor Moth</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=c636f62f-6fca-4eba-8798-a23ba70626f4 target='_blank'>PDF</a></td>
		</tr><tr style="background-color:#E9F3FF;">
			<td>Adp - Petition for Adoption (Adult).pdf</td><td>Petition for Adoption (Adult)</td><td align="center" style="width:40px;"><a href="judicial_forms/PetitionforAdoption.pdf" target='_blank'>PDF</a></td>
		</tr><tr>
			<td>Adp - Petition for Adoption.pdf</td><td>Petition for Adoption</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=1a3afcaa-1c4a-4e95-bf34-8baee3bb7272 target='_blank'>PDF</a></td>
		</tr><tr style="background-color:#E9F3FF;">
			<td>Adp - Petition for Disclosure of Adoption Info.pdf</td><td>Petition for Disclosure of Adoption Info</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=aa25bfe1-7771-48e8-b81e-d7bed1e2d367 target='_blank'>PDF</a></td>
		</tr><tr>
			<td>Adp - Petition for Grandparent Visitation.pdf</td><td>Petition for Grandparent Visitation</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=8198a1b6-61be-42ef-8877-0128da33407d target='_blank'>PDF</a></td>
		</tr><tr style="background-color:#E9F3FF;">
			<td>Adp - Pre-Birth Consent.pdf</td><td>Pre-Birth Consent</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=8f49e09b-2178-464f-b6ea-8d80d461fdb9 target='_blank'>PDF</a></td>
		</tr><tr>
			<td>Adp - Report of Adoption.pdf</td><td>Report of Adoption</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=6c32737e-920b-4f5f-8c16-67ff4d96947d target='_blank'>PDF</a></td>
		</tr><tr style="background-color:#E9F3FF;">
			<td>Adp-Disclosure and Accounting of Disbursements.pdf</td><td>Disclosure and Accounting of Disbursements</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=525118df-7789-4f22-b6ba-3c0ef2a212c1 target='_blank'>PDF</a></td>
		</tr><tr>
			<td>Annual Status Report of Guardian</td><td>Annual Status Report of Guardian</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=a1c08ab2-9fdf-4fbf-a364-c1d7732e3cef target='_blank'>PDF</a></td>
		</tr><tr style="background-color:#E9F3FF;">
			<td>Appeal Forms</td><td>Appeal forms needed to appeal to Ala Ct. of Civ. Appeals and Ala. Supreme Court</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=f2d25357-e1df-4edc-86f9-74a685a54260 target='_blank'>PDF</a></td>
		</tr><tr>
			<td>Commit - Expense Voucher</td><td>Expense Voucher for GAL or Attorney for Petitioner</td><td align="center" style="width:40px;"><a href="judicial_forms/GALVoucher.pdf" target='_blank'>PDF</a></td>
		</tr><tr style="background-color:#E9F3FF;">
			<td>Commit - Mtn to Revoke Outpatient Commitment.pdf</td><td>Motion to Revoke Outpatient Commitment</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=8bf20b02-096e-446b-b333-281bb7c01655 target='_blank'>PDF</a></td>
		</tr><tr>
			<td>Commit - Pet for Involuntary Commitment.pdf</td><td>Petition for Involuntary Commitment</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=3d532b6b-f2b3-42c7-b5e1-2ee1045d2d88 target='_blank'>PDF</a></td>
		</tr><tr style="background-color:#E9F3FF;">
			<td>Commit -Pet for Involuntary Commitment Information</td><td>Petition for Involuntary Commitment Information Sheet</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=6bdf8c17-a6f0-4593-851c-0134658a1bc1 target='_blank'>PDF</a></td>
		</tr><tr>
			<td>Confidential proceedings - requirements for same</td><td>Confidential proceedings - requirements for same</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=52b2d04a-4e82-4a0d-9de1-cefba3b2ba8e target='_blank'>PDF</a></td>
		</tr><tr style="background-color:#E9F3FF;">
			<td>Conserv - Mtn to Restore Ward to Competency.pdf</td><td>Motion to Restore Ward to Competency</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=a01f4555-7147-4d54-9e9a-95861ef47818 target='_blank'>PDF</a></td>
		</tr><tr>
			<td>Conserv - Pet for Ltrs of Conservatorship.pdf</td><td>Petition for Letters of Conservatorship</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=0a04e725-cbed-42c4-b9ed-cf11aa0e0bcd target='_blank'>PDF</a></td>
		</tr><tr style="background-color:#E9F3FF;">
			<td>Conserv -Pet for Appointment of Guardian.pdf</td><td>Petition for Appointment of Guardian</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=2c5b3010-fcd7-490c-a550-3028515fc600 target='_blank'>PDF</a></td>
		</tr><tr>
			<td>Conserv -Pet for Single Transaction & Blocked Acct</td><td>Petition for Single Transaction and Blocked Account</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=a7c2ee0c-e80b-498b-bb39-9d6168dcbf7d target='_blank'>PDF</a></td>
		</tr><tr style="background-color:#E9F3FF;">
			<td>Conserv -Petition for Partial Settlement.pdf</td><td>Petition for Partial Settlement</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=9130a9b0-5738-47ba-a98b-19f52bc8c66d target='_blank'>PDF</a></td>
		</tr><tr>
			<td>Conserv -Rpt Death of Ward & Pet for Final Sett</td><td>Report of Death of Ward & Petition for Final Settlement</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=c3edb961-0a2e-4e73-8ae8-97a955746766 target='_blank'>PDF</a></td>
		</tr><tr style="background-color:#E9F3FF;">
			<td>Conserv -Rpt of Death of Ward & Pet for Final Sett</td><td>Report of Death of Ward & Petition for Final Settlement</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=20d47915-9816-4331-9166-ee8611ac7e2c target='_blank'>PDF</a></td>
		</tr><tr>
			<td>Conserv -Rpt of Exhaustion of Assets & Pet</td><td>Report of Exhaustion of Assets & Petition for Final Settl</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=662517cb-252d-4260-abe5-4b428aff2c65 target='_blank'>PDF</a></td>
		</tr><tr style="background-color:#E9F3FF;">
			<td>Conserv -Waiver of Notice.pdf</td><td>Waiver of Notice</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=086a8b86-7f7c-4186-b07b-f19257e5192c target='_blank'>PDF</a></td>
		</tr><tr>
			<td>Conserv- Rpt of Restoration of Capacity & Petition</td><td>Report of Restoration of Capacity & Petition for Final Settlement</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=9946dc3d-7ded-4a45-b2db-a382e605d537 target='_blank'>PDF</a></td>
		</tr><tr style="background-color:#E9F3FF;">
			<td>Conservator Handbook</td><td>Conservator Handbook</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=0cba94d3-16f6-466d-b102-67ee1a9e2908 target='_blank'>PDF</a></td>
		</tr><tr>
			<td>Estates  - Pet exemptions-allowances prior to adm</td><td>Petition for exemptions-allowances prior to administration</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=34c29414-34fb-46be-a3cd-059cae717080 target='_blank'>PDF</a></td>
		</tr><tr style="background-color:#E9F3FF;">
			<td>Estates - Annual Acctg & Pet for Partial Sett.pdf</td><td>Annual Acctg & Petition for Partial Settlement</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=2adf1902-bd0e-453c-9e6e-1ece89520431 target='_blank'>PDF</a></td>
		</tr><tr>
			<td>Estates - Authority to Open Safe Deposit Box.pd</td><td>Petition for Authority to Open Safe Deposit Box</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=818de8e2-6463-429e-8a49-eef9aae8550b target='_blank'>PDF</a></td>
		</tr><tr style="background-color:#E9F3FF;">
			<td>Estates - Exemptions-Allowances Prior to Adm.pdf</td><td>Exemptions-Allowances Prior to Administration</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=ac08bd7d-1181-4ab1-83c1-4dd7c200174d target='_blank'>PDF</a></td>
		</tr><tr>
			<td>Estates - Inventory of Estate.pdf</td><td>Inventory of Estate</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=b88f69d2-7602-4194-9a51-d2f90f86912d target='_blank'>PDF</a></td>
		</tr><tr style="background-color:#E9F3FF;">
			<td>Estates - Motion to Appoint Commissioner.pdf</td><td>Motion to Appoint Commissioner</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=aa6ecff7-84c8-4fa0-8490-04b11be83fc5 target='_blank'>PDF</a></td>
		</tr><tr>
			<td>Estates - Motion to Produce Will.pdf</td><td>Motion to Produce Will</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=49559913-e786-4dd3-8c3d-5dac22107e61 target='_blank'>PDF</a></td>
		</tr><tr style="background-color:#E9F3FF;">
			<td>Estates - Motion to Sell Personal Property.pdf</td><td>Motion to Sell Personal Property</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=69202baf-da4a-4bd3-b75e-3b85b2e3c024 target='_blank'>PDF</a></td>
		</tr><tr>
			<td>Estates - Objecton to Estate Claim.pdf</td><td>Objection to Estate Claim</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=4fb39594-9f99-423b-b201-b2aa8dd39d10 target='_blank'>PDF</a></td>
		</tr><tr style="background-color:#E9F3FF;">
			<td>Estates - Pet for Final Consent Settlement & Order</td><td>Pet for Final Consent Settlement & Order Directing Disbtribution</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=050e1f77-4e4f-4055-8119-9b42fdba8dd5 target='_blank'>PDF</a></td>
		</tr><tr>
			<td>Estates - Pet for Letters of Administration.pdf</td><td>Petition for Letters of Administration</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=e5e1af9e-9304-4931-9b81-c7ad5a672603 target='_blank'>PDF</a></td>
		</tr><tr style="background-color:#E9F3FF;">
			<td>Estates - Pet for Partial Settlement</td><td>&nbsp;</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=2fdd2dc2-0ac9-4fc6-8424-1caaa3aa2c2d target='_blank'>PDF</a></td>
		</tr><tr>
			<td>Estates - Pet for Sale of Personal Property.pdf</td><td>Petition for Sale of Personal Property</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=d61203aa-9352-4bb9-b2be-5216402b5e8b target='_blank'>PDF</a></td>
		</tr><tr style="background-color:#E9F3FF;">
			<td>Estates - Petition for Discovery Prior to Adm.pdf</td><td>Petition for Discovery Prior to Administration</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=c78e77bd-70b1-421b-b5da-bbaa44ae68e8 target='_blank'>PDF</a></td>
		</tr><tr>
			<td>Estates - Petition for Instructions.pdf</td><td>Petition for Instructions</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=e4d9d4e3-5207-4ff8-b6c3-00e54a805e30 target='_blank'>PDF</a></td>
		</tr><tr style="background-color:#E9F3FF;">
			<td>Estates - Petition to Determine Heirs.pdf</td><td>Petition to Determine Heirs</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=9dea025a-0ec3-4ede-a467-8ac07bacddd4 target='_blank'>PDF</a></td>
		</tr><tr>
			<td>Estates - Petition to Probate-CTA.pdf</td><td>Petition to Probate-CTA</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=17dec4b4-7246-4401-8fda-1014c13a0af2 target='_blank'>PDF</a></td>
		</tr><tr style="background-color:#E9F3FF;">
			<td>Estates - Petition to Probate.pdf</td><td>Petition to Probate</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=4189ffcd-fc10-4285-b068-6fcfbb179d5c target='_blank'>PDF</a></td>
		</tr><tr>
			<td>Estates - Report of Sale of Personal Property.pdf</td><td>Report of Sale of Personal Property</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=90fccd7a-1de0-4378-a8c8-48c87b963188 target='_blank'>PDF</a></td>
		</tr><tr style="background-color:#E9F3FF;">
			<td>Estates - Will Contest.pdf</td><td>Will Contest</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=79e2f1c9-3aaf-4d27-b443-c3253c0c4e6b target='_blank'>PDF</a></td>
		</tr><tr>
			<td>Estates -Pet for Exemptions & Allowances.pdf</td><td>Petition for Exemptions & Allowances</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=5d938782-5bda-4f37-96b8-1e8312397efa target='_blank'>PDF</a></td>
		</tr><tr style="background-color:#E9F3FF;">
			<td>Estates -Pet to Remove Personal Representative.pdf</td><td>Petition to Remove Personal Representative</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=59dfe65f-092e-4f91-93a5-cf40de948df6 target='_blank'>PDF</a></td>
		</tr><tr>
			<td>Estates -Petition for Final Consent Settlement.pdf</td><td>Petition for Final Consent Settlement</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=6ace40b8-14b5-4fba-883e-eab9c2bc9ee5 target='_blank'>PDF</a></td>
		</tr><tr style="background-color:#E9F3FF;">
			<td>Estates -Petition for Sale of Real Property.pdf</td><td>Petition for Sale of Real Property</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=8d14cdda-89b9-448e-930f-99f10488bcaf target='_blank'>PDF</a></td>
		</tr><tr>
			<td>Estates -Petition for Summary Distribution.pdf</td><td>Petition for Summary Distribution</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=3bf1382b-7250-4145-8be7-03b48ec5380e target='_blank'>PDF</a></td>
		</tr><tr style="background-color:#E9F3FF;">
			<td>Estates -Petition to Probate Foreign Will.pdf</td><td>Petition to Probate Foreign Will</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=f7184b55-7948-40f0-a2b2-193232635d1b target='_blank'>PDF</a></td>
		</tr><tr>
			<td>Estates -Petition to Probate Lost Will.pdf</td><td>Petition to Probate Lost Will</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=8ed11d98-7fbc-4168-834b-0ec01f16d507 target='_blank'>PDF</a></td>
		</tr><tr style="background-color:#E9F3FF;">
			<td>Estates -Petition to Reopen Estate to Administer</td><td>Petition to Reopen Estate to Administer Unadministered Asset</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=ebf3532e-4579-46dd-ba19-4b54f3feb0f9 target='_blank'>PDF</a></td>
		</tr><tr>
			<td>Estates -Petition to Sell Real Property.pdf</td><td>Petition to Sell Real Property</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=1a69bff7-731c-4ca0-a5ea-ff7b7c6359e7 target='_blank'>PDF</a></td>
		</tr><tr style="background-color:#E9F3FF;">
			<td>Estates -Renunciation of Appt as Executor.pdf</td><td>Renunciation of Appt as Executor</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=20077009-6d6c-4ca3-b880-18f325b97b21 target='_blank'>PDF</a></td>
		</tr><tr>
			<td>Estates -Report of Compliance.pdf</td><td>Report of Compliance</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=a701442e-7e05-4f48-a35a-94395ba3f9b3 target='_blank'>PDF</a></td>
		</tr><tr style="background-color:#E9F3FF;">
			<td>Estates-Mtn to Construe Will & for Instruction.pdf</td><td>Motion to Construe Will and for Instruction</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=1e785867-a911-4285-b2a7-11d18c0e2e22 target='_blank'>PDF</a></td>
		</tr><tr>
			<td>Fee Voucher for Court Representative</td><td>Court Representative Expense Voucher</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=ea32ea88-11e3-4ad1-a9ee-06d68ae24e65 target='_blank'>PDF</a></td>
		</tr><tr style="background-color:#E9F3FF;">
			<td>Fee Voucher for GAL, AAL & Special Atty</td><td>GAL, AAL & Special Attorney Expense Voucher</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=edae77ae-1a91-4ce0-8b89-0daa6978b807 target='_blank'>PDF</a></td>
		</tr><tr>
			<td>GIAS - General Info & Asset Summary</td><td>General Info and Asset Summary Sheet</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=3d91c975-fe37-4ddb-97af-7ad557b524f5 target='_blank'>PDF</a></td>
		</tr><tr style="background-color:#E9F3FF;">
			<td>Guardian Care Plan</td><td>Guardian Care Plan</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=d3fe95f0-44e4-414d-87fc-94397fe60ac2 target='_blank'>PDF</a></td>
		</tr><tr>
			<td>Guardian Status Report</td><td>Guardian Status Report</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=5fa3f991-175e-4973-b776-62d5f39fb58b target='_blank'>PDF</a></td>
		</tr><tr style="background-color:#E9F3FF;">
			<td>Guardianship - Informational Affidavit</td><td>Informational Affidavit in Guardianships</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=c010ed18-9fdd-4b85-bcc3-d1e18526c831 target='_blank'>PDF</a></td>
		</tr><tr>
			<td>Guardianship -General Info and Asset Summary Sheet</td><td>General Information and Asset Summary Sheet</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=134759c2-0341-4ab4-b65a-3c900118a898 target='_blank'>PDF</a></td>
		</tr><tr style="background-color:#E9F3FF;">
			<td>Handbook</td><td>Conservator Handbook</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=c7549b45-efd9-4ddf-8a55-575aba3b7a68 target='_blank'>PDF</a></td>
		</tr><tr>
			<td>Handbook</td><td>Intestate Administrator Handbook</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=c0cd0a59-0bc1-42fc-be3c-21f1387b2acd target='_blank'>PDF</a></td>
		</tr><tr style="background-color:#E9F3FF;">
			<td>Intestate Estate Administration Handbook</td><td>Intestate Estate Administration Handbook</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=4def1034-140e-4ff0-bc22-08a51db95acb target='_blank'>PDF</a></td>
		</tr><tr>
			<td>Land Condemnation Commissioners</td><td>Land Condemnation Commissioners</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=9ce92db0-49ff-4fb6-a7df-f808f5634494 target='_blank'>PDF</a></td>
		</tr><tr style="background-color:#E9F3FF;">
			<td>Lawsuit Settlement Approval Procedure Conservators</td><td>Lawsuit Settlement Approval Procedure Conservatorship Cases</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=b86af5b4-9a5f-44d0-b362-e35f80054728 target='_blank'>PDF</a></td>
		</tr><tr>
			<td>Lawsuit Settlement Approval Procedure Decedent's</td><td>Lawsuit Settlement Approval Procedure Decedent's Estate</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=57eb5e4e-e999-4e43-9e02-cfb02db57a38 target='_blank'>PDF</a></td>
		</tr><tr style="background-color:#E9F3FF;">
			<td>Legitimation Declaration.pdf</td><td>Declaration of Legitimation</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=153a601b-343a-4787-b6be-888df6784f7d target='_blank'>PDF</a></td>
		</tr><tr>
			<td>Legitimation Form Package.pdf</td><td>Atty Legitimation Form Package</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=7aa896aa-cb5c-4ff4-9306-07f1aeae55a0 target='_blank'>PDF</a></td>
		</tr><tr style="background-color:#E9F3FF;">
			<td>Lost Will Information Sheet</td><td>Lost Will Information Sheet</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=f13bc1da-f1cb-46c3-8a19-7bb452a4c01e target='_blank'>PDF</a></td>
		</tr><tr>
			<td>Minors -  Vehicle Purchase</td><td>Minors -  Vehicle Purchase</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=117cd4a8-d362-4239-9783-9c3aedf98826 target='_blank'>PDF</a></td>
		</tr>
		<!--<tr style="background-color:#E9F3FF;">
			<td>Name Change - Minor Pet - Consent - Affidavit.pdf</td><td>Minor Petition - Consent - Affidavit</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=f47b4eb6-2c06-4917-8ca9-31691dcb9da6 target='_blank'>PDF</a></td>
		</tr>
		<tr>
			<td>Name change instructions for attys.pdf</td><td>Name change instructions for attys</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=54c9078e-3157-485b-9286-cf5bac67d69c target='_blank'>PDF</a></td>
		</tr>-->
		<tr style="background-color:#E9F3FF;">
			<td>Name Change Petition [Adult].pdf</td><td>Adult Name Change Petition</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=6cd24a3f-81bf-4f7c-bee3-e27575fb4a19 target='_blank'>PDF</a></td>
		</tr><tr>
			<td>Notices - Affidavit for Service by Publication.pdf</td><td>Affidavit for Service by Publication</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=7e506f29-8b1b-400b-817a-d1f3e3dbfbce target='_blank'>PDF</a></td>
		</tr><tr style="background-color:#E9F3FF;">
			<td>Schedule ''A''.pdf</td><td>Schedule ''A''</td><td align="center" style="width:40px;"><a href=http://records.probate.mobilecountyal.gov/Judicial/juViewForm.aspx?code=80b8048f-30de-497f-a95b-f5e9dbdc3eae target='_blank'>PDF</a></td>
		</tr><tr>
			<td>Summary Distributions Update</td><td>Summary Distributions Update</td><td align="center" style="width:40px;"><a href="judicial_forms/SummaryDistUpdate2015.pdf" target='_blank'>PDF</a></td>
		</tr>
		<tr>
			<td>Order to Appear - Subpoena</td><td>Order to Appear - Subpoena</td><td align="center" style="width:40px;"><a href="judicial_forms/OrdertoAppear(Subpoena).pdf" target='_blank'>PDF</a></td>
		</tr>
		<tr>
			<td>Commitment Voucher - Example</td><td>Commitment Voucher - Example</td><td align="center" style="width:40px;"><a href="judicial_forms/CommitmentVoucher.pdf" target='_blank'>PDF</a></td>
		</tr>
		<tr>
			<td>Conserv - Pet for Single Transaction Minor - Protective</td><td>Conserv - Pet for Single Transaction Minor - Protective</td><td align="center" style="width:40px;"><a href="judicial_forms/MinorProtectiveArrangement.pdf" target='_blank'>PDF</a></td>
		</tr>
		<tr>
			<td>Pet to Designate Person to Direct Disposition of Remains</td><td>Pet to Designate Person to Direct Disposition of Remains</td><td align="center" style="width:40px;"><a href="judicial_forms/PettoDesignateDispositionofRemains.pdf" target='_blank'>PDF</a></td>
		</tr>
		<tr>
			<td>Name Change - Petition for Minor Name Change</td><td>Name Change - Petition for Minor Name Change</td><td align="center" style="width:40px;"><a href="judicial_forms/MinorNameChangePetition.pdf" target='_blank'>PDF</a></td>
		</tr>
		<tr>
			<td>Name Change - Instructions relating to Minor Petitions</td><td>Name Change - Instructions relating to Minor Petitions</td><td align="center" style="width:40px;"><a href="judicial_forms/MinorNameChangeInstructions.pdf" target='_blank'>PDF</a></td>
		</tr>
	</table>

