<!DOCTYPE html>
<html>
<head>
<style>
body {
  font-family: Arial
Verdana, Sans-Serif;
}

</style>
<link rel="icon"
      type="ico"
      <a href="../favicon.ico">
</head>
<center><a href =""><img src="resources\images\mobile_banner.jpg" border="0" /></a></center>
<br><br>

     <LEFT><a href="javascript:history.go(-1)">< Back to Search Screen</a></LEFT> <CENTER><A HREF = "#TIPS">Helpful Tips</A> | <A HREF = "#FAQ">Frequently Asked Questions</A>
     | <A HREF = "#FAQ">Instructions for Determining Perfected Service </A>  </center>

<BR><font color="#000066">
<B>Granicus' Rapid Online Access Method (ROAM) is a robust, easy to use, enterprise data retrieval solution. ROAM allows you to run full text searches across all data elements, or selected data elements, with near instant results. Learn more about ROAM and its capabilities below
</B></font >
<BR>
<BR>

<BR>
<B><A NAME = "TIPS"><FONT SIZE = "3">HELPFUL TIPS</FONT></A></B>
<BR>

<BR>
<B>BASIC SEARCH</B><P><UL><LI>
The Basic Search is a full text search across all indexed fields.
<p>
 Example: If a user types <I>John Smith</I> into the Basic Search it will find all instances of <I>John Smith</I> located in all fields indexed.
<P><img src="resources\images\Mobile_basic_search.png" border="0" /></P>

</LI></UL>
<B>ADVANCED SEARCH</B><P><UL><LI>
The Advanced Search is a full text field-level search that can be accessed from the <I>Advanced Search</I> hyperlink on the main search page.  The Advanced Search can be used to search by Case Number, Name, Date and more!
<P>
Example: Select the <I>Advanced Search</I> hyperlink (shown above in Basic Search section)
<P> By selecting the <I>Advanced Search</I> hyperlink, ROAM will list all the field-level searches that can be performed (example below)
<P><img src="resources\images\Advanced_Search.png" border="0" /></p>
</LI></UL>


</LI></UL>
<B> JUDICIAL CALENDAR</B><P><UL><LI>
The judicial calendar displays a 180 day span based on the current date! 30 days in the past from todays date and 150 days in the future from todays date.
<p>To view a list of cases for a particular day, click on the linked numbers under the court room you wish to see.
</p><img src="resources\images\judicial-calendar.png" border="0" /></p>
</LI></UL></p>



</LI></UL></p>



<B>HOW TO USE SEARCH FILTERS</B><P><UL><LI>
ROAM provides the ability to filter searches utilizing ROAMs faceting functionality.  The Facet is located on the left hand side of your search results screen.
When selecting an item in the facet it will filter your results to include only results that match that item.  Selected filters are shown at the top of the facet.
Users have the option of removing filters by clicking on them again in the top of the facet.

<P><img src="resources\images\Filters.png" border="0" />
</LI></UL></p>
<p>

<B>HOW TO USE EXPORT OPTIONS</B><P><UL><LI>
Once a search is performed with the basic search or advanced search, that search can be exported in three formats.<br><a>
Excel, PDF, or Word.<br>
Just select your prefered format and save it to a file.
<P><img src="resources\images\Export_Options.png" border="0" />
</LI></UL></p>
<p>

<br>

<b>SEARCH TIPS</b><p>

   <ul>
        <li>
            <b>AND | OR Search Option</b> will return results according the search value provided by the user.
            <p><b>AND</b> is the more practical method of searching. Selecting this option will allow the user to search for multiple, consecutive words within fields and will limit the results displayed.</p>
            <p>Example selecting <b>AND</b>: If the user wants to search for the name <i>"SMITH"</i> and selects <b>AND</b> Case Type: <i>"DIVORCE"</i>, the search will find <i>"DIVORCE"</i> records that contains the name <i>"SMITH"</i>.
            <p><b>OR</b> is a versatile search method of searching.
            <p>Example selecting <b>OR</b>: If a user wants to search for the name <i>"SMITH J"</i> and selects <b>OR</b> Case Type: <i>"DIVORCE"</i>, the result search will be much more varied finding any record that contains the words<i>"SMITH"</i> <b>OR</b> <i>"DIVORCE"</i>.
        </li>
   </ul>





<B>WILD CARD SEARCHING</B><P><UL><LI>
ROAM supports Wildcard searching.  A user can perform a Wildcard search by entering a * after a minimum of 2 characters in order to utilize wildcard searching capability.
<P>
Example:  Entering <I>Jo* Smith</I> in ROAM will return results matching <I>John Smith, Smith John, Joe Smith, Smith Joe, Joseph Smith, Smith Joseph, etc.</I>  Entering <I>J* Smith</I> into ROAM will only return results matching <I>J Smith</I> and <I>Smith J</I>.  You must enter a minimum of 2 characters to use ROAMs Wildcard searching capability
</LI></UL>



<B>RESULTS PER PAGE</B><P><UL><LI>
The results per page in ROAM can be adjusted by the user to any of the allowed settings in the results per page drop down located in the lower right hand corner of the web page.
</LI></UL>

<B>BROWSER COMPATIBILITY</B><P>
<img src = "resources\images\browsers.png" alt = "IE, Firefox, Chrome, Safari, Opera">

<BR><BR><BR>
<A NAME = "IECOMPATABILITY"><b><FONT SIZE = "3">Browser Recommendation</b></FONT></A>

   <table>
   	<tr>
   	   <td>
             <p style="font-size:15px;">
             	ROAM strives to utilize the latest in web technology, so we recommend our users take advantage of the most current versions of available web browsers like Internet Explorer(IE) 10, Chrome 28, Firefox 22, etc., to get the best ROAM experience possible.<br/><br/>
             	<b>Internet Explorer Browser Mode</b> and <b> Document Mode</b>:
             	Like other browsers, Internet Explorer(IE) supports Browser and Document Modes. These modes affect the way webpages are interpreted and displayed. IE allows you to choose between support for the latest standard or support for certain behaviors popularized by older browsers.<br/><br/>
             	As mentioned above, ROAM strives to bring users the latest in web technology and browser settings are a crucial part of displaying the ROAM web pages properly. Below is a quick walk through on how to check and change your IE browser and document mode settings which work best with ROAM.<br/><br/>
             	<ul>
             	    <li style="font-size:15px;">Once you've launched your IE browser, press the <b>F12</b> key on your keyboard. This will promp an action console to show at the bottom of the screen (Highlighted in green. See screen shot below). At the top of the console, there will be a menu bar with different menu options. From here, Browser Mode and Document Mode can be switched to support newer or older modes.<br/><br/>
             	    For the best ROAM experience, we recommend using the latest modes, <b>Browser Mode: IE9</b> and <b>Document Mode:IE9 standards</b>. To switch modes, simply hover over the menu item with your mouse and select the mode you wish to employ. Once selection has been made, press F12 to close the action console or click the "x" at the very right of the action console menu bar.
             	    <br/><br/>
             	    <center>
             	    <span>
             	          <img src = "resources\images\ie-delco-helpfile.jpg" alt = "IE Browser F12" width="1200px" border="1px">
             	    </span>
             	    </center>


             </p>
           </td>
        </tr>
   </table>


<P>
<B><A NAME = "FAQ"><FONT SIZE = "3">FREQUENTLY ASKED QUESTIONS</FONT></A></B>
<BR><BR><P>
<B><I>Why does it appear that some records duplicate ?</I></B><UL><LI>
ROAM allows you to search on all records located in the index.  This means that the results grid includes all parties and all case information for a given record.
</LI></UL>
</P>
<BR><BR>
<P>
<B><A NAME = "FAQ"><FONT SIZE = "3">INSTRUCTIONS FOR DETERMINING PERFECTED SERVICE</FONT></A></B>
<BR><BR><P>
<B><I>Instructions for Determining Perfected Service via the Mobile County ROAM Public Access Site (Legacy Cases <font color="red">– filed prior to 08.01.2013</font>)</I></B><UL>
<LI>	Log in to Judicial ROAM Public Access</LI>
<LI>	Click Case and Party Search tab</LI>
<LI>	Execute Search</LI>
<LI>	Click Case Number of Desired Case</LI>
<LI>	Scroll to the Case Action Summary Grid</LI>
<LI>	Sort the Comments column by clicking the column header one time</LI>
<LI>	Scroll to the clustered, sorted events starting with Cause…</LI>
<LI>	Scan through comments specific to Cause at issue for which a Service of Process inquiry is appropriate</LI>
</LI></UL>
</P>
<BR><BR>
<B><I>Instructions for Determining Perfected Service via the Mobile County ROAM Public Access Site (Day Forward Cases <font color="red">– filed on or after 08.01.2013</font>)</I></B><UL></font>
<LI>	Log in to Judicial ROAM Public Access</LI>
<LI>	Click Case and Party Search tab</LI>
<LI>	Execute Search</LI>
<LI>	Click Case Number of Desired Case</LI>
<LI>	Scroll to the Service of Process Grid (located immediately below the Case Action Summary grid)</LI>
<LI>	Sort the Executed column by clicking the column header one time</LI>
<LI>	Review every record where the value in the Service of Process column is “No”</LI>

</LI></UL>
</P>
<BR><BR>


    </@display.table>
</#if>


</span>
</body>
</html>
