<h3>Forget Password?</h3>
	<p>If you forget your administrator's password, you need to edit file:</p>
	<code>${WebserverStatic.rootDirectory}WEB-INF\data\xsearch-config.xml</code>
	<p>to set attribute password="" in &lt;xsearch&gt; tag.</p>


