#if($query.tempResults)
<tr><td align="right" valign="top"><b>Sample Results</b><td>
<table class="xsearchLeftTable" style="font-size:75%" width="100%">
<tr>
  #foreach($c in $query.columns)
    <th>$c.columnName</th>
  #end
</tr>
#foreach($r in $query.tempResults)
<tr>
  #foreach($v in $r)
  	#if( !$v )
    <td><i>null</i></td>
	#else
    <td>$v</td>
	#end
    #set($v = false)
  #end
</tr>
#end
</table>
</td></tr>
#end
