Thumbs.db

/sdlecom/dist
/sdlecom/build

# Ignore classes directory into which Java files get built
/sdlecom/WebContent/WEB-INF/classes/

# Ignore lib directory which gets populated with private dependencies from 'lib' and public ones from Ivy
/sdlecom/WebContent/WEB-INF/lib/

# Ignore the seal images which vary client-to-client
/sdlecom/WebContent/resources/custom_resources/images/*seal*.png
/sdlecom/WebContent/resources/custom_resources/images/*seal*.jpg

# Ignore everything in WebContent/templates except for a few  specified files
/sdlecom/WebContent/templates/*
!/sdlecom/WebContent/templates/globalBriefCase.stl
!/sdlecom/WebContent/templates/globalNav.stl
!/sdlecom/WebContent/templates/index.stl
!/sdlecom/WebContent/templates/messageCenterPublic.stl
!/sdlecom/WebContent/templates/multiSearch/
!/sdlecom/WebContent/templates/multiSearchVm/
!/sdlecom/WebContent/templates/resources/basket.css
!/sdlecom/WebContent/templates/images/callout.gif
!/sdlecom/WebContent/templates/images/callout_black.gif
!/sdlecom/WebContent/templates/images/callout_green.gif
!/sdlecom/WebContent/templates/images/closedCase.png
!/sdlecom/WebContent/templates/images/css-tooltip-gradient-gb.png
!/sdlecom/WebContent/templates/images/openCase.png

# Ignore everything in WebContent/WEB-INF/data except for a few specified files
/sdlecom/WebContent/WEB-INF/data/*
!/sdlecom/WebContent/WEB-INF/data/AlertSystem.properties
!/sdlecom/WebContent/WEB-INF/data/xsearch-config.xml
!/sdlecom/WebContent/WEB-INF/data/xsearch-config.xml.template
!/sdlecom/WebContent/WEB-INF/data/dictionary/
!/sdlecom/WebContent/WEB-INF/data/properties/

sdlecom/WebContent/templates/resources/images/Thumbs.db
