.pagination {
  font-size: 80%;
}
        
.pagination a {
  text-decoration: none;
  border: solid 1px #f1fbe5;
  color: #5f5964;
}

.pagination a, .pagination span {
  display: block;
  float: left;
  padding: 0.3em 0.5em;
  margin-right: 5px;
  margin-bottom: 5px;
}

.pagination .current {
  background:#f1fbe5 url('../../../../styles/images/ui-bg_glass_55_f1fbe5_1x400.png') repeat-x scroll 50% 50%;
  color: #5f5964;
  border: solid 1px #f1fbe5;
}

.pagination .current.prev, .pagination .current.next{
  color:#999;
  border-color:#999;
  background:#5f5964;
}
