@charset utf-8;
body{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;font-weight:700;margin:4px 6px;}
#basicsearch{margin-top:50px;}
table.main{width:100%;vertical-align:top;border-width:0;}
td.mainLeft{width:15%;vertical-align:top;margin-left:10px;border-width:0;}
td.mainRight{width:85%;vertical-align:top;margin-left:10px;}
table.resultHeader{font-size:10pt;font-weight:700;width:100%;padding-left:5px;margin-top:25px;border-spacing:0;border:1px;border-width:0;}
input.text{background:#FFF url(magnifying-glass.gif) no-repeat;clear:none;display:block;float:left;font-size:103%;height:35px;width:484px;border-width:2px;margin:0 auto;padding:7px 0 0 35px;} button.search{border:2px solid;width:100px;font-weight:700;clear:none;cursor:pointer;display:block;line-height:1.2em;border-width:0;padding:9px;}
table.resultsPP{width:100%;border-spacing:0;font-size:90%;border-width:0;padding:5px;}
td.resultHeadercolright{text-align:right;padding-right:10px;white-space:nowrap;}
.filter_body form input.button:active{border-top:solid 2px;border-left:solid 2px;}
.filter_body form input.button:hover{border:1px solid;}
table.tablesorter{font-size:9pt;width:100%;text-align:left;margin:0 0 15px;}
table.tablesorter tbody td{vertical-align:top;padding:4px;}

.filter_list{width:100%;background-color:#fff;margin:0;padding:0;}
.filter_head{font-size:90%;font-weight:700;cursor:pointer;margin:1px;padding:4px;}
.filter_head span{float:left;height:4px;width:21px;}
.filter_head:hover{color:#FFF;text-decoration:none;}
.filter_body{padding:5px 0;}

.inactive,.active,font.label{font-size:90%;}
.filter_head span.active,.filter_head span.inactive{float:left;width:16px;height:15px;}
.headerList{margin: 0;padding: 0;	z-index: 30}
.headerList li{margin: 0;padding: 0;list-style: none;float: left;}
.headerList li a{display: block;margin: 0 1px 0 0;padding: 4px 10px;text-align: center;text-decoration: none;font-size: 90%;}
.headerList div{position: absolute;visibility: hidden;margin: 0;padding: 0;}
.headerList div a{position: relative;display: block;margin: 0;padding: 5px 10px;width: auto;white-space: nowrap;text-align: left;text-decoration: none;}
.headerList li a span.ui-icon{display:inline}
#ui-datepicker-div {font-size: 80%;}
.ui-datepicker-month{width:auto};

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -khtml-border-top-left-radius: 4px; border-top-left-radius: 4px; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; -khtml-border-top-right-radius: 4px; border-top-right-radius: 4px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -khtml-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; -khtml-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; }

img{border:0;}