.pagination {
  font-size: 80%;
}
        
.pagination a {
  text-decoration: none;
  border: solid 1px #cb842e;
  color: #5f5964;
}

.pagination a, .pagination span {
  display: block;
  float: left;
  padding: 0.3em 0.5em;
  margin-right: 5px;
  margin-bottom: 5px;
}

.pagination .current {
  background:#cb842e url('../../../../styles/images/ui-bg_glass_25_cb842e_1x400.png') repeat-x scroll 50% 50%;
  color: #ffffff;
  border: solid 1px #cb842e;
}

.pagination .current.prev, .pagination .current.next{
  color:#999;
  border-color:#999;
  background:#fff;
}
