@charset "utf-8";
/* PAGINATION-Classic CSS Document */        
.paginationHolder a {
	background-color: white;
	border: solid 1px #333333;
	color: #333333;
}
.paginationHolder a.otherPage:visited {
    color: #333333;
}
span.text {
    background: none;
}
a.prev, a.next, a.goPaginate {
	color: #ffffff;	
}
