@charset "utf-8";
/* GLOSSY GREEN CSS */

@import url("theme-base.css");


body {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif ; 
    background: #ababab url(black-gradient-big1.gif) repeat-x;
    color: white;
}

a:link {
	color: #6e6e6e;
	text-decoration: none;             
}

a:visited {
	color: #f58400;
}
a:hover {
	background-color: none;
}

a.gotoPage, a.gotoPage:link, a.gotoPage:visited {
background-color: #44569E;
}

a.gotoPage:hover,a.gotoPage:active {
background-color:#051761;
}

span.highlight {
        background-color:#fec98a;
}

td.mainLeft {
    --background: #032c555 url(striped-gray-bg.gif);
}

p.result {
      border-bottom:1px solid #DDDDDD;
      font-size: 100%
}

table.resultHeader {
    font-family: helvetica, arial, sans-serif;;    
    color: #b8ec79; 
    background:#171717 url(black-bar-solid.png) repeat 55% 55%;
   
}

font.label{
    font-family:verdana,sans-serif;
}

input.text {
    background: #FFF url('magnifying-glass.gif') no-repeat;
    border-color:#362d06; 
}   

button.search {
    background:#171717 url(black-bar-striped.png) repeat-x 50% 50%;
    border-color: #4297D7; 
    color:#b8ec79;
}
a.gotoPage {
    background:#171717 url(black-bar-striped.png) repeat-x 50% 50%;
    border-color: #4297D7; 
    color:#b8ec79;
}

td.resultHeadercolleft {
    color:#b8ec79;    
}

td.resultHeadercolright {
    color:#b8ec79;
}

.multi_select {
      color: #333333;
}

.multi_select form input.button,button.button {
  font-family:verdana,arial,geneva,sans-serif;
  text-decoration:none;
  background:#96f226;
  border-color: #333333; 
  color:#333333;  
}

.multi_select form input.button:active {
  background:#96f226;
  border-top:solid 2px #2A537B;
  border-left:solid 2px #2A537B;
}

.multi_select form input.button:hover,button.button:hover {
  background:#f58400;
  border-color: #000;
  color:#EAF5F7;
}



/* TABLES */


table.tablesorter tfoot tr th {
    background:#171717 url(black-bar-solid.png) repeat 55% 55%;
    border-color: #4297D7;
    color:#EAF5F7;
}

table.tablesorter thead tr .header, table.tablesorter thead tr th {
    background:#171717 url(black-bar-solid.png) repeat 55% 55%;
    border-color: #333333;
    color:#EAF5F7;
}
 
table.tablesorter tbody td {
    color: #3D3D3D;
    background-color: #FFF;
}

table.tablesorter tbody tr.odd td {
    background:#effce0;
}

table.tablesorter tbody tr.even td {
    background-color:#ffffff;
}

table.tablesorter thead tr .headerSortUp {
    background:#9fda58 url(greenlight-bar-solid.png) repeat-x 55% 55%;
    color: #000;
}

table.tablesorter thead tr .headerSortDown {
    background:#9fda58 url(greenlight-bar-solid.png) repeat-x 55% 55%;
    color: #000;
}

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: #9fda58 url(greenlight-bar-solid.png) repeat-x 55% 55%;
    color: #000;
}

.column{
    background:#fff;
}

div.box {
    border-color: #e7e3d0;
}

.box th,.box .header{
    background:#382214 repeat-x scroll 50% 50%; 
}

.box h2{
    background: #171717 url(black-bar-striped.png) repeat-x 50% 50%;
    color:#b8ec79;
    border-bottom:1px solid #eee;    
}

.box h2.collapse{
    background:#9fda58 url(greenlight-bar-striped.png) repeat-x 50% 50%;
    color: #000;
}

.success{
    background:#d9f9e0;
    border-color: #339933;
}

.box{
    background:#fff;
    border-color: #ddd;
}

.smartLink:hover {
       background-color: #ffff00;
       color: #024769;   
}

table.tablesorter thead tr .headerSortUp p.active {
	background: url(asc_blk.gif) no-repeat center;	
}

table.tablesorter thead tr .headerSortDown p.active {
	background: url(desc_blk.gif) no-repeat center;	
}

.box h2.collapse:hover p.active{            	
	background:url(collapse_black.png) no-repeat center;	
}

@charset "utf-8";
/* CSS Document */

