@charset "utf-8";
/* paginationHolder for glossy-yellow*/
.paginationHolder a {
	background-color: white;
	border: solid 1px #443113;
	color: #333333;
}
.paginationHolder a:visited {
	color: #333333;
}
.paginationHolder a, .paginationHolder span {
	background:#fff /*url(glossy-blue-button.gif)*/);
}
span.text {
    background: none;
}
.paginationHolder .current {
	background:#1c94c4 /*url(glossy-blue-button.gif)*/;
	color: #FFF;
	border: solid 1px #443113;
}
.paginationHolder .current.prev, .paginationHolder .current.next{
	color:#1c94c4;
	border-color:#443113;
	background:#fff /*url(glossy-blue-button.gif)*/);
}
a.goPaginate {
	background:#ed0e67 url(yellow-bar-striped.png)repeat-x 50% 50%;
	color:#6a4701;
}