<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net debug="true">
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <layout type="log4net.Layout.XMLLayout"/> --&gt;
      <param name="File" value="InetrfaceService.log"/>
      <param name="AppendToFile" value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <header type="log4net.Util.PatternString" value="[START LOG] %newline"/>
        <footer type="log4net.Util.PatternString" value="[END LOG] %newline"/>
        <!--<conversionPattern value="%d [%t] %-5p - %m%n " />-->
        <conversionPattern value="%d [%t] - %m%n "/>
      </layout>
    </appender>
    <!-- RollingFileAppender looks after rolling over files by size or date -->
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="BarcodeExtractor_rolling.log"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="-1"/>
      <param name="MaximumFileSize" value="4MB"/>
      <param name="RollingStyle" value="Composite"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="CountDirection" value="1"/>
      <layout type="log4net.Layout.PatternLayout">
        <header type="log4net.Util.PatternString" value="[START LOG] %newline"/>
        <footer type="log4net.Util.PatternString" value="[END LOG] %newline"/>
        <!-- <conversionPattern value="%d [%t] %-5p - %m%n %newline" /> -->
        <conversionPattern value="[%level - [%d [%t] - ]] %m %exception %n "/>
      </layout>
    </appender>
    <!-- Setup the root category, add the appenders and set the default level -->
    <root>
      <level value="ALL"/>
      <appender-ref ref="RollingFileAppender"/>
    </root>
  </log4net>
  <connectionStrings>
  </connectionStrings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="AIHostService"/>
    </sharedListeners>
  </system.diagnostics>
  <appSettings>
    <!--<add key="AiLISMiddlewareServer" value="tcp://NV-DEV-02:13085/"/>-->
    <add key="AiLISMiddlewareServer" value="tcp://NV-APPTEST3:42060/"/>
    
    <add key="fsw_override" value="C:\temp\testbarcode\"/>
    <add key="ExtractLegal" value="FALSE"/>
    <add key="DMSType" value="ONBASE"/>
    <!-- Following _Override config values will override what is set in code as default. See readme files for details-->
    <!--
    <add key="TriggerFileExtension_Override" value="AUTO"/> 
    <add key="AiLISExtractUser_Override" value="AUTOINDEX"/>
    <add key="AiLISExtractMachine_Override" value="amcadjvh2"/>
    <add key="AiLISExtractApp_Override" value="AI"/>
    <add key="TempStorage_Override" value=""/>
    <add key="BarcodeType_Override" value="Pdf417"/>
    <add key="ProcessMode_Override" value="A"/>
    -->
  </appSettings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="OnbaseDocumentRetrievalPortSOAPBinding"  maxReceivedMessageSize="2147483647"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://nv-apptest4.amcad.com:5470/Onbase/Retrieval.svc"
          binding="basicHttpBinding" bindingConfiguration="OnbaseDocumentRetrievalPortSOAPBinding"
          contract="OnBaseDocumentRetrievalSvc.OnbaseDocumentRetrievalPort"
          name="OnbaseDocumentRetrievalPortSOAPBinding" />
    </client>
  </system.serviceModel>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
