
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>eRecording</title>

<!-- Template stylesheet -->
<link rel="stylesheet" href="resources/styles/jqueryui/custom-min.css" type="text/css" media="all"/>
<link rel="stylesheet" href="resources/styles/screen-min.css" type="text/css" media="all"/>

<!-- Skin stylesheet -->
<link class="skins" rel="stylesheet" href="resources/styles/skins/silver.css" type="text/css" media="all"/>

<link rel="shortcut icon" href="favicon.ico"/>
<link rel="stylesheet" type="text/css" href="resources/javascripts/fancybox/jquery.fancybox-1.3.0-min.css" media="screen"/>

<!--[if IE 7]>
<link rel="stylesheet" href="resources/styles/ie7.css" type="text/css" media="all"/>
<![endif]-->

<!-- Jquery and plugins -->
<script type="text/javascript" src="resources/javascripts/jquery-min.js"></script>
<script type="text/javascript" src="resources/javascripts/jquery-ui-min.js"></script>
<script type="text/javascript" src="resources/javascripts/fancybox/jquery.fancybox-1.3.0-min.js"></script>
<script type="text/javascript" src="resources/javascripts/jquery.easing-min.js"></script>
<script type="text/javascript" src="resources/javascripts/anythingSlider-min.js"></script>
<script type="text/javascript" src="resources/javascripts/jquery.validate-min.js"></script>
<script type="text/javascript" src="resources/javascripts/hint-min.js"></script>
<script type="text/javascript" src="resources/javascripts/cufon-min.js"></script>
<script type="text/javascript" src="resources/fonts/Colaborate_Thin.font.js"></script>
<script type="text/javascript" src="resources/javascripts/browser-min.js"></script>
<script type="text/javascript" src="resources/javascripts/custom-min.js"></script>

<style type="text/css">
#eRecInfo{
	background-color:#fff;
	padding:50px;
	font-size:15px;
}
</style>

</head>


<body class="page">

	<!-- Begin template wrapper -->
	<div id="wrapper">

		<input type="hidden" id="nm_portfolio_auto_scroll" name="nm_portfolio_auto_scroll" value="1" />
		<input type="hidden" id="nm_color" name="nm_color" value="light" />

		<!-- Begin header -->
		<div id="header_wrapper">
			<div id="top_bar">
					<div class="logo">
						<!-- Begin logo -->
						<img id="custom_logo" src="resources/images/sussex_seal_web_subpages.png" alt="Sussex County Seal"/>

						<!-- End logo -->

					</div>

					<!-- Begin main nav -->
					<div class="right_nav"></div>

						<div id="secondary_nav">
							<!-- Begin main nav -->
							<div class="menu-main-menu-container">

							<ul id="main_menu" class="nav">
                                <li>
									<a href="http://nv-rd1/sussex/search.do?">Home</a>
								</li>
								<li>
									<a href="disclaimer.html">Search Records</a>
								</li>
								<li class="selected">
									<a href="erecording.html" class="selected">E-Recording</a>
								</li>
								<li> 
									<a href="about.html">Meet the Official</a>
								</li>
								<li>
									<a href="sites.html">ROAM Sites</a>
								</li>
                            </ul>

						</div>
						<!-- End main nav -->
						</div>

					<div class="left_nav"></div>
					<!-- End main nav -->

				</div>

		</div>
		<!-- End header -->



		<br class="clear"/>



		<input type="hidden" id="slider_timer" name="slider_timer" value="5"/>
		<input type="hidden" id="nm_portfolio_auto_scroll" name="nm_portfolio_auto_scroll" value="1"/>
		<input type="hidden" id="nm_color" name="nm_color" value="light"/>
		<input type="hidden" id="slider_speed" name="slider_speed" value="5"/>
		<!-- Begin content -->
		<div id="content_wrapper">

			<br class="clear"/>

			<div class="page_caption">
				<div class="caption_inner">
					<h1 class="cufon">E-Recording</h1>
					<p>Still mailing in your deeds and mortgages for recording? Maybe you should consider e-filing instead!</b></p>
				</div>
			</div>

			<div class="inner">

				<!-- Begin main content -->
				<div class="inner_wrapper">

						<!-- Begin gallery content -->

                        <div>

								<p id="eRecInfo">
									E-recording improves the recording process from the point of origin (title company, bank, attorney office, etc.) to the return of the original recorded document. E-recording improves work flow, increases productivity, speeds up the recording process, and reduces rejections (specifically, rejections due to incorrect fees, missing party names or signatures, missing tax lot & block information, missing marginal notations, etc. will be eliminated, because the information is required prior to submission of the documents for recording).</br></br>
 
									All documents transmitted through our county’s certified e-filing partners are secure transactions and meet the standards outlined by the Property Records Industry Association (PRIA). Standard recording fees and realty transfer taxes will apply as usual and are paid via ACH payment at the time of submission. Contact one of our e-file partners for more information on how to establish an account with their organization … and join the multitudes who are already taking advantage of this wonderful technology!</br></br>
									
									Simplifile:&nbsp;<a href="https://simplifile.com/">https://simplifile.com/</a></br>
									To sign up, click on Solutions drop-down, then Get Started link. Fill out and send the form. Simplifile representative should be in touch with you within 1 business day. You may also contact Simplifile directly by email jpettine@simplifile.com or call 800.460.5657.</br></br>
									 
									eRX (ACS):&nbsp;<a href="https://www.erxchange.com/">https://www.erxchange.com/</a></br>
									To sign up, fill out and submit the form directly on the website Home page. You may also contact eRX directly by email (erxsupport@xerox.com) or call 214-887-7461.
									</br></br>
									Corporation Service Company (CSC):&nbsp;<a href="https://www.erecording.com/">https://www.erecording.com/</a></br>
									To sign up, click on the link, then fill out and submit the form on this page to request to be contacted by a Document Recording Specialist. You may also contact Corporation Service Company directly by email erecording@cscinfo.com or call (866) 652-0111.
								</p>
                        </div>




						    </div>
						   </div>


						   </div>
						       </div>
						       <!-- maincontainer ends here -->



		</div>
		<!-- End content -->

</div>
<!-- End template wrapper -->

</body>

</html>