@charset "utf-8";
/* paginationHolder for glossy-orange */
.paginationHolder a {
	background-color: white;
	border: solid 1px #443113;
	color: #333333;
}
.paginationHolder a:visited {
	color: #333333;
}
.paginationHolder a, .paginationHolder span {
	background:#fff /*url(glossy-blue-button.gif)*/);
}
span.text {
    background: none;
}
.paginationHolder .current {
	background:#f58400 /*url(glossy-blue-button.gif)*/;
	color: #000;
	border: solid 1px #443113;
}
.paginationHolder .current.prev, .paginationHolder .current.next{
	color:#f58400;
	border-color:#443113;
	background:#fff /*url(glossy-blue-button.gif)*/);
}
a.goPaginate {
	background:#f58400 url(orange-bar-striped.png) repeat-x 50% 50%;
	color:#EAF5F7;
}

