## $Id: datasetMenu.vm,v 1.7 2005/02/15 07:02:54 guyuan Exp $

#set($actionName = $request.getAttribute('org.apache.struts.action.mapping.instance').getPath().substring(1) )

<div class="breadcrumb">
#set( $listTemplate = "listTemplates.do?indexName=$indexName" )
#if( $actionName == "editTemplate" )
<a href="$listTemplate">Page View</a> &gt; $template.name
#elseif( $actionName == "createTemplate" )
<a href="listExampleTemplates.do?indexName=$indexName">Example Page Views</a> &gt; $template.name
#elseif( $actionName == "editTemplateFile" )
<a href="$listTemplate">Templates</a> &gt; <a href="editTemplate.do?indexName=$indexName&templateName=$template.name">$template.name</a> &gt; $fileName
#end
</div>