.pagination {
  font-size: 80%;
  margin: 0 auto;
}
        
.pagination a {
  text-decoration: none;
  border: solid 1px #000066;
  color: #000066;
}

.pagination a, .pagination span {
  display: block;
  float: left;
  padding: 0.3em 0.5em;
  margin-right: 5px;
  margin-bottom: 5px;
}

.pagination .current {
  background:#000066 url(ui-bg_gloss-wave_75_2191c0_500x100.png) repeat-x scroll 50% 50%;
  color: #fff;
  border: solid 1px #000066;

}

.pagination .current.prev, .pagination .current.next{
  color:#999;
  border-color:#000066;
  background:#fff;
}