@charset "utf-8";
/* paginationHolder for glossy-blackornggrn */
.paginationHolder a {
	background-color: white;
	border: solid 1px #333333;
	color: #396800;
}
.paginationHolder a:visited {
	color: #333333;
}
.paginationHolder a, .paginationHolder span {
	background:#fff /*url(glossy-blue-button.gif)*/);
}
span.text {
    background: none;
}
.paginationHolder .current {
	background:#f58400 /*url(glossy-blue-button.gif)*/;
	color: #ffffff;
	border: solid 1px #000066;
}
.paginationHolder .current.prev, .paginationHolder .current.next{
	color:#f58400;
	border-color:#ED0E67;
	background:#fff /*url(glossy-blue-button.gif)*/);
}
a.goPaginate {
	background:#252b02 url(olive-bar-striped.png) repeat-x 50% 50%;
	color:#ffffff;
}


