#macro( printMenuItem $link $text )
#if($link)
menu$indexName[$__count]='&nbsp;&nbsp;&nbsp;<a href="$link?indexName=$indexName">$text</a><br>'
#else
menu$indexName[$__count]='<b>$text</b><br>'
#end
#set($__count = $__count + 1 )
#end
#set($__count = 0 )
<script type="text/javascript">
var menu$indexName=new Array()
##copied from datasetMenu.vm, use column editing. This manual process needs to be repeated if menu is changed
#printMenuItem( false 'Data Source')
#printMenuItem('configBasic.do'          'Basic' )
#printMenuItem('configConnection.do'     'Connection' )
#printMenuItem('configWorkingQueue.do'   'SQL Queries' )
#printMenuItem('configAnalyzer.do'       'Language' )
#printMenuItem('configSchedule.do'       'Schedule' )
#printMenuItem('configSecurity.do'       'Security' )
#printMenuItem('advancedQueries.do'      'Advanced SQLs' )
#printMenuItem('datasetOptions.do'       'Advanced Settings' )
#printMenuItem( false 'Configure Search')
#printMenuItem('configSearchBasic.do'        'Search Options' )
#printMenuItem('configSearchInMemory.do'     'Memory Mode' )
#printMenuItem('configWildcard.do'           'Wildcard' )
#printMenuItem('configSortableColumns.do'    'Sortable Columns' )
#printMenuItem('configSearchableColumns.do'  'Seachable Columns' )
#printMenuItem('configFilterableColumns.do'  'Filterable Columns' )
#printMenuItem('configDisplayableColumns.do' 'Displayable Columns' )
#printMenuItem( false 'Template')
#printMenuItem('listTemplates.do'        'List' )
#printMenuItem('createTemplate.do'       'Create' )
#printMenuItem( false 'Integration')
#printMenuItem( false 'Status')
#printMenuItem('showIndexUsage.do'       'Search Usage' )
#printMenuItem('showIndexLog.do'         'Indexing Log' )
#printMenuItem('showIndexStatus.do'      'Index Content' )
#printMenuItem('showFrequentTerms.do'      'Frequent Terms' )
</script>
<a class="jump" onClick="return dropdownmenu(this, event, menu$indexName, '250px')" onMouseout="delayhidemenu(10000)"><img src="images/downArrow2.gif" alt="Configure"></a>