<table cellpadding="0" cellspacing="0" align="center" border="0" width="90%">
  <tr>
    <td align="left" #tip("Last refresh: $date.format($QueryLogAnalyzer.dataDate)")> 
    <button class="general" type="submit" name="refresh" id="refresh" onClick="f.operation.value='refresh'; document.f.submit(); return false;">Refresh</button>
    <br />Updated #displayElapsedTime($QueryLogAnalyzer.dataDate) ago</td>    
    <td><b>Select Report Period:</b>
    #parse("/WEB-INF/velocity/region/report/selectPeriodOptions.vm")
    </td>
    <td><b #tip("From: $date.format($report.startDate) <br />To  : $date.format($QueryLogAnalyzer.dataDate)")>Report for last #displayElapsedTime($report.startDate)</b></td>
 </tr>
</table>	
<br/>
