<top-ips>
 #foreach( $keyWord in $report.topIps )
   <ip order="$velocityCount" times="$keyWord.hitNumber">$keyWord.key</ip>
 #end
</top-ips>

<top-keywords>
 #foreach( $keyWord in $report.topKeyWords )
   <keyword order="$velocityCount" times="$keyWord.hitNumber">$keyWord.key</keyword>
 #end
</top-keywords>

<top-no-result-searches>
 #foreach( $keyWord in $report.topNoResultSearches )
   <keyword order="$velocityCount" times="$keyWord.hitNumber">$keyWord.key</keyword>
 #end
</top-no-result-searches>

<average-hits>
 #set ($topHits = $report.topHits)     
 #set ($totalHits = $report.recordCount)
 #set ($prevHour = '12 AM')
 #foreach($hourHit in $report.hourHits)
  #if ($velocityCount<12)
   #set ($currentHour = "$velocityCount AM")
  #elseif ($velocityCount == 12)
   #set ($currentHour = "$velocityCount PM")
  #elseif ($velocityCount == 24)
   #set ($currentHour = "12 AM")
  #else
   #set($h = $velocityCount - 12)
   #set ($currentHour = "$h PM")
  #end
  #set ($_timespan = "$prevHour ~ $currentHour")
  #set ($prevHour = $currentHour)
  #set($percent2 = $math.mul(100,$math.div($hourHit.totalHits, $totalHits)) )
  <hit time="$_timespan" percentage="$math.roundTo(1,$percent2)" total="$hourHit.totalHits" average="$math.roundTo(2,$hourHit.avgHits)"/>
 #end
</average-hits>
