body.home
{
	background: #f5f5f5 url('../../images/skins/silver/header_bg_cell_blue.png') repeat-x top;
}

body.page
{
	background: #fff url('../../images/skins/silver/header_bg_cell_sub_blue.png') repeat-x center -45px;
}

a, a:hover
{
	color: #738ca0;
}

h1, h2, h3, h4, h5, label
{
	color: #738ca0;
}

input[type=submit], input[type=submit]:hover
{
	background: transparent url("../../images/skins/silver/long_btn_bg.png") no-repeat top;
}