body {
    font-family: 'Open Sans',arial,sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #000;
}
 
h1, h2, h3, h4, h5, h6 {
    font-family: 'PT Sans',sans-serif;
    font-weight: 700;
}
 
h1 {
    font-size: 40px;
    line-height: 60px;
    color: #015cb9;
}
 
h2 {
    font-size: 24px;
    line-height: 36px;
    color: #666;
}
 
h3, h4, h5, h6 {
    color: #e38410;
}
 
h3 {
    font-size: 20px;
    line-height: 30px;
}
 
h4 {
    font-size: 18px;
    line-height: 27px;
}
 
h5 {
    font-size: 16px;
    line-height: 24px;
}
h6 {
    font-size: 14px;
    line-height: 21px;
}
 
body.home {
    background:none;
    padding-top:0px;
    /*background-color: #2e8be8;*/
}
 
a {
    color: #015cb9;
    text-decoration: none;
}
 
a:hover, a:focus {
    color: #7ac4fc;
}

 
ul.nav li a:hover, ul.nav li a:active, ul.nav li a:focus {
    text-decoration: underline;
}
 
