<h3>Actions</h3>

<h6>Incremental Indexing</h6>
<p>Retrieve only documents newer than existing documents. Search remembers the 
  upper and lower bounds of <strong>Modified Date</strong>. You should order your 
  documents by descending modified date. This is the most efficient way to quickly 
  have your indexes updated.</p>
<h6>Full Indexing</h6>
<p>Search remembers the upper and lower bounds of <strong>Modified Date</strong>.If 
  an indexing is interrupted, like maximal disk limit is reached, or you simply 
  stopped it, to retrieve all documents, you need to use this action. It'll find 
  newer documents, and find anything in the gap between each indexing covered 
  time range.</p>
<h6>Re-Create Whole Index</h6>
<p>Retrieve all documents and re-build the whole index from scratch. This simply 
  discard all previous indexed content. It works well if you have a small index 
  and doesn't care about old data.</p>
<br />

<h6>Stop Current Indexing</h6>
<p>Signal current indexing process to stop.</p>
<br />

<h6>Optimize Index</h6>
<p>Optimize the index, usually the index is already optimized. So this action 
  won't do any magic.</p>
<h6>Re-Analyze</h6>
<p>If you changed to a new Analyzer, all the documents need to be analyzed again 
  and indexed again. See more details on <a href="help.vm?page=analyzer">Analyzer</a></p>
<h6>Delete Duplicates</h6>
<p>If somehow duplications are found, this will delete duplicated documents determined 
  by primary key.</p>
<br />

<h6>Unlock Index</h6>
<p>If some directory is locked by previous indexing process.</p>
<h6>Clean Index(temp included)</h6>
<p>Remove all index data. Useful when you are experimenting on your indexes. The 
  other way is to shutdown Search and simply remove the index files.</p>
<h6>Clean Temporary Index</h6>
<p>Remove temporary indexes. If indexes are corrupted during indexing, you want 
  to save at least some older indexes. You can just delete newer ones.</p>

<br />
<h6>Refresh Index</h6>
<p>Read index data from the disk again if index data is updated. Usually it'll 
  be automatically refreshed.</p>
<h6>Make Offline</h6>
<p>Not accepting search request any more. It's effective until the next index 
  is ready, or Search is shutdown, or you do <b>Refresh Index</b> action.</p>