<h3>How to install JDBC drivers?</h3>

<p>For license concern, we could not ship all JDBC drivers. But they are easily 
  available.</p>
<p>If you got the database, chances are that you already have the JDBC driver. 
  Usually it's some *.jar or *.zip file, under some &quot;lib&quot; directory.</p>
<p>Or you can search on the internet to download the JDBC drivers.</p>
<p>For <strong>MySQL</strong> 4.1 and higher, the built-in jdbc driver is not 
  working since MySQL changed the security mechanism and also the JDBC license. 
  But you can download and install it for free. If so, to prevent collision, you 
  need to remove file &quot;mysql-connector-java-2.0.14-bin.jar&quot;.</p>

<p>Just add a similar XML code like this, replace the name, class, url-format, 
  url-example, validate-sql. (url-format and url-example are only for displaying 
  purpose.)
</p>

<pre>
&lt;jdbcdriver name=&quot;SQLServer by jTDS&quot;&gt;
  &lt;class&gt;net.sourceforge.jtds.jdbc.Driver&lt;/class&gt;
  &lt;url-format&gt;&lt;![CDATA[
    jdbc:jtds:&lt;server_type&gt;://&lt;server&gt;[:&lt;port&gt;][/&lt;database&gt;][;&lt;property&gt;=&lt;value&gt;[;...]]
  ]]&gt;&lt;/url-format&gt;
  &lt;url-example&gt;&lt;![CDATA[
    jdbc:jtds:sqlserver://&lt;i&gt;hostname&lt;/i&gt;:1433/&lt;i&gt;dbname&lt;/i&gt;
  ]]&gt;&lt;/url-example&gt;
  &lt;validate-sql&gt;SELECT 1&lt;/validate-sql&gt;
&lt;/jdbcdriver&gt;
</pre>