
.simplePassMeter {  
width: 19em;
position:absolute;
top:300px; left:300px;
padding-bottom:13px;
display:block;
z-index:5000;
}

.meterFail { border: 1px solid #daa; background-color: #fdd; }	
.meterWarn { border: 1px solid #fd6; background-color: #feb; }
.meterGood { border: 1px solid #ada; background-color: #dfd; }
.meterExcel { border: 1px solid #aad; background-color: #ddf; }

.simplePassMeterBar { background-color: #ddd; }
.meterFail .simplePassMeterProgress  { background-color: #f66; }
.meterWarn .simplePassMeterProgress  { background-color: #fd6; }
.meterGood .simplePassMeterProgress  { background-color: #ada; }
.meterExcel .simplePassMeterProgress { background-color: #88f; }

.simplePassMeter p { margin: 0; }
.simplePassMeterIcon { height: 16px; width: 16px; float: left; }
.meterFail .simplePassMeterIcon,
.meterWarn .simplePassMeterIcon,
.meterGood .simplePassMeterIcon,
.meterExcel .simplePassMeterIcon {
  background-image: url('images/passwordStrength.sprite-new.png');
  background-repeat: no-repeat;
}
.meterExcel .simplePassMeterIcon { background-position: 0 0; } 
.meterFail .simplePassMeterIcon { background-position: 0 -17px; } 
.meterGood .simplePassMeterIcon { background-position: 0 -34px; } 
.meterWarn .simplePassMeterIcon { background-position: 0 -51px; } 

.simplePassMeterText { margin-left: 2px; }
