.jmesa {
    margin: 0;
    padding: 0;
}

.jmesa caption {
    caption-side: top;
    color: #444444;
    font-weight: bold;
    font-size: 1.2em;
    text-align: left;
    padding-left: 5px;
}

.jmesa .table {
    //border: 1px solid silver;
    padding: 2px;
}

.jmesa-toolbar table {
    margin-left: auto;
    margin-right: auto;
}

.jmesa .jmesa-toolbar td {
    padding: 0px 1px 0px 1px;
}

.jmesa .jmesa-toolbar select {
    font-size: 14px;
    border: solid 1px #c4c3c2;
}

.jmesa .jmesa-toolbar .pageNumber {
    font-size: 13px;
    font-weight: bold;
    color: #c4634d;
    padding: 0px 2px;
}

.jmesa .jmesa-toolbar .pageNumber a {
    font-weight: normal;
    color: black;
}

.jmesa .jmesa-toolbar .textItem {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    color: #729fcf;
    padding: 0px 2px;
}

.jmesa .jmesa-toolbar .textItem a {
    color: #729fcf;
}

.jmesa .jmesa-toolbar .textItemError {    
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    color: #ec4646;
    padding: 0px 2px;
}

.jmesa .jmesa-toolbar .textItemError a {
    color: #ec4646;
}

.jmesa .jmesa-toolbar img {
    border:0px;
}

.jmesa .jmesa-filter td {
    padding: 2px 2px 3px 2px;
}

.jmesa .jmesa-tbody input {
    padding: 0;
    margin: 0;
}

.jmesa .jmesa-filter .dynFilter {
    position: relative;    
    font-size: 14px;
    padding: 0;
    margin: 0;
    border: 1px solid #c0c0c0;
    background-color: #efebe7;
    height: 15px;
    white-space: nowrap;
    cursor: pointer;
}

.jmesa .jmesa-filter #dynFilterDiv {
    position: absolute;
    top: -3px;
    left: -2px;
    padding: 0;
    margin: 0;
    height: 17px;
    border: 1px solid #c0c0c0;
    background-color: #e1ebf4;
}

.jmesa .jmesa-filter #dynFilterInput {    
    font-size: 14px;
    padding: 0;
    margin: 0;
    border-style: none;
    background-color: #e1ebf4;
}

.jmesa .jmesa-filter #dynFilterDroplistDiv, #wsColumnDroplistDiv {
    position: absolute;
    top: -2px;
    left: -2px;
    padding: 0;
    margin: 0;
    height: 17px;
    background-color: #e1ebf4;
    z-index: 2;
}

.jmesa .jmesa-filter #dynFilterDroplist, #wsColumnDroplistInput {    
    font-size: 12px;
    padding: 0;
    margin: 0;
    border: 1px solid #c0c0c0;
    background-color: #e1ebf4;
}

.jmesa .jmesa-header td {
    white-space: nowrap;
    background: #184795 url(images/blue-bar-solid.png) repeat-x 55% 55%;
    color: white;
    font-weight:bold;
    font-size: 14px;
    padding: 4px 3px 4px 3px;
    border-right-style: solid;
    border-right-width: 1px;
    border-color: white;
}

.jmesa .jmesa-odd a,.jmesa .jmesa-even a {
    color: black;
}

.jmesa .jmesa-odd td,.jmesa .jmesa-even td,.jmesa .jmesa-removed td,.jmesa .jmesa-rowError td {    
    font-size: 14px;
    padding: 2px 3px 2px 3px;
}

.jmesa .jmesa-odd td {
    border: 1px solid #ffffff;
}

.jmesa .jmesa-even td {
    border: 1px solid #E2E4FF;
}

.jmesa .jmesa-removed td {
    border: 1px solid white;
}

.jmesa .jmesa-odd {
    background-color: #ffffff;
}

.jmesa .jmesa-even {
    background-color: #E2E4FF;
}

.jmesa .jmesa-removed {    
    font-style: italic;
    color: #ccc;
}

.jmesa .jmesa-rowError {    
    font-style: italic;
}

.jmesa .addRow {
    font-size: 12px;
    font-weight: bold;
    height: 20px;
    color: white;
    background-color: #888;
}

.jmesa .jmesa-highlight td {    
    font-size: 14px;
    padding: 3px 4px 3px 4px;
    background-color: #fdecae;
    cursor:pointer;
}

.jmesa .jmesa-highlight a {
    color: black;
}

.jmesa .jmesa-statusBar td {    
    font-size: 14px;
    border-top: 1px solid silver;
    background-color: #efebe7;
    padding: 2px;
}

.jmesa .dropShadow {
    padding: 10px 14px 14px 10px;
}

.jmesa .wsColumn {
    position: relative;    
    font-size: 14px;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #c0c0c0;
    height: 15px;
    white-space: nowrap;
    cursor: pointer;
}

.jmesa .wsColumnError {
    position: relative;    
    font-size: 14px;
    font-style: italic;
    padding: 0;
    margin: 0;
    color: #ec4646;
    border-bottom: 1px dashed #ec4646;
    height: 15px;
    white-space: nowrap;
    cursor: pointer;
}

.jmesa .wsColumnChange {
    position: relative;    
    font-size: 14px;
    font-style: italic;
    padding: 0;
    margin: 0;
    color: #005e8f;
    border-bottom: 1px dashed #005e8f;
    height: 15px;
    white-space: nowrap;
    cursor: pointer;
}

.jmesa #wsColumnDiv {
    position: absolute;
    top: -2px;
    left: -2px;
    padding: 0;
    margin: 0;
    height: 17px;
    border: 1px solid #c0c0c0;
    background-color: #ededed;
}

.jmesa #wsColumnInput {    
    font-size: 12px;
    padding: 0;
    margin: 0;
    border-style: none;
    background-color: #ededed;
}
#pageCont{
	width:100%;
	font-family: Helvetica, Arial, Sans-Serif;
	}
#tableCont{
	width:85%;
	margin:0 auto;
	background-color:#fff;
	padding:35px 20px;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(178,178,178,1);
	-moz-box-shadow: 0px 0px 20px 0px rgba(178,178,178,1);
	box-shadow: 0px 0px 20px 0px rgba(178,178,178,1);
	}
#navCont{margin-bottom:30px;}
#goBack{color:#fff;}
#backLinkTxt{
	width:40px;
	height:20px;
	padding:7px;
	background: #184795 url(images/blue-bar-solid.png) repeat-x 55% 55%;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	}
#backLinkTxt:hover{
	background: #f58400 url(images/orange-bar-solid.png) 55% 55% repeat-x;
	}
