@charset "utf-8";
/* GLOSSY BLACK CSS */

@import url("theme-base.css");

body {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif ; 
    background: #ababab url(black-gradient-big1.gif) repeat-x;
    
}

a:link {
	color: #2e7ee4;
	text-decoration: none;             
}

a:visited {
	color: #f58400;
}
a:hover {
	background-color: none;
}
table.resultHeader {
    font-family: helvetica, arial, sans-serif;;    
    background:#171717 url(black-bar-solid.png) repeat 55% 55%;
}

font.label{
    font-family:verdana,sans-serif;
    font-size:90%;
}

input.text {
    background: #FFF url('magnifying-glass.gif') no-repeat;
    border-color:#362d06; 
} 
  
button.search {
    background:#171717 url(black-bar-striped.png) repeat-x 50% 50%;
    border-color: #4297D7; 
    color:#EAF5F7;
}

td.resultHeadercolleft {
    color:#EAF5F7;
    
}

td.resultHeadercolright {
    color:#EAF5F7;
}

.filter_body {
      color: #2E7EE4;
}

.filter_body form input.button{
  font-family:verdana,arial,geneva,sans-serif;
  text-decoration:none;
  background:#ff8106;
  border-color: #3D4D5A; 
  color:#FFF;  
}

.filter_body form input.button:active {
  background:#ff8106;
  border-top:solid 2px #2A537B;
  border-left:solid 2px #2A537B;
}

.filter_body	 form input.button:hover {
  background:#2e7ee4 repeat-x scroll 50% 50%;
  border-color: #4297D7;
  color:#EAF5F7;
}

.filter_head {   
    background:#171717 url(black-bar-solid.png) repeat 55% 55%;	 
	color: #EAF5F7;   
    border: 1px solid #333333; 
}

.filter_head span {
   background:#171717 url(black-bar-solid.png) repeat 55% 55%;	 
}

.filter_head:hover {
	  background:#f58400 url(orange-bar-striped.png) repeat-x 50% 50%;	 	 
}
    
.filter_body {    
    background-color:#ffffff;
    border-color: #333333;
    
}

.filter_head span.active {	 	 	
	 background:url(active_white.png) no-repeat top right;
}

.filter_head span.inactive {	 	 	
	 background:url(inactive_white.png) no-repeat top right;
}



