/*************************************************************************
*
* ADOBE CONFIDENTIAL
* ___________________
*
*  Copyright 2015 GRANICUS INC
*  All Rights Reserved.
*
* NOTICE:  All information contained herein is, and remains
* the property of GRANICUS INC.
**************************************************************************/


.left {
	text-align:left;
}
.right {
	text-align:right;
}
.center {
	text-align:center;
}
td.footer {
	font-weight:bold;
}

#content .inner {
	width:100%;
}
.jmesa .jmesa-highlight a {
	
}
div.subHeader {
	text-align:center;
	width:100%;
	font-weight:bold;
	color:#ffffff;
	background-color:#8F1704;
	line-height:50px;
}
div#header {
	width: auto;
}
a#btnGetRecurringTrans,	a#btnGetWebTrans {
	cursor:pointer;
}

#tabs{
	margin-top:30px;
	margin-bottom:30px;
	width:100%;
}

.containers{
	margin:0px;
	border-top-left-radius:0px;	
	-moz-border-radius-topleft:0px;
	border-top-right-radius:0px;	
	-moz-border-radius-topright:0px;
	border-bottom-right-radius:5px;
	-moz-border-radius-bottomright:5px;
	border-bottom-left-radius:5px;
	-moz-border-radius-bottomleft:5px;
}

.noBorder{
	border-top:0px;
}

.siteInfoDet{
	padding:10px 0px;
	color:#666666;"
}
