@charset "utf-8";
/* GLOSSY LITEGREEN CSS */


@import url("theme-base.css");


body {
    background: #565551 url(darkgray-gradient-bg.gif) repeat-x;
    color: #000;

    /*background-image:
            -moz-linear-gradient(top,
                                 #fefdf9,
                                 #4f4f4f);
    background-image:
           -webkit-gradient(linear,
                            left top,
                            left bottom,
                            from(#fefdf9),
                            to(#4f4f4f));*/ 
    
                                                                                                                                                                                                                                                                                 
a:link {
	color: #00477f;
	text-decoration: none;               
}

a:visited {
	color: #4c88be;
}
a:hover {
	background-color: none;
}

a.gotoPage, a.gotoPage:link, a.gotoPage:visited {
background-color: #44569E;
}

a.gotoPage:hover,a.gotoPage:active {
background-color:#051761;
}

span.highlight {
        background-color:#8dc3e9;
}

td.mainLeft {
    border:1px #333333;
    --background: #032c555 url(striped-gray-bg.gif);
}

td.mainRight {
    border:1px #333333;   
}

table.resultHeader {
    font-family: helvetica, arial, sans-serif;;    
    color: #333333; 
    background:#cccf3f url(meadow-bar-solid.png) repeat-x 55% 55%; 
}

font.label{
    font-family:verdana,sans-serif;
}

input.text {
    background: #FFF url('magnifying-glass.gif') no-repeat;
    border-color:#362d06;     
}  
 
button.search {
    background:#cccf3f url(meadow-bar-striped.png) repeat-x 50% 50%;
    border:1px solid #333333; 
    color:#333333;
}
a.gotoPage {
    background:#cccf3f url(meadow-bar-striped.png) repeat-x 50% 50%;
    border:1px solid #333333; 
    color:#333333;
}

td.resultHeadercolleft {
    color:#000;   
}

td.resultHeadercolright {
    color:#000;
}

.multi_select form input.button,button.button {
  font: bold 12px verdana,arial,geneva,sans-serif;
  text-decoration:none;
  background:#d9db56;
  border:1px solid #3D4D5A; 
  color:#000;   
}

.multi_select form input.button:active {
  background:#d9db56;
  border-top:solid 2px #2A537B;
  border-left:solid 2px #2A537B;
}

.multi_select form input.button:hover,button.button:hover {
  background:#8dc3e9 repeat-x scroll 50% 50%;
  border:1px solid #4297D7;
  color:#000;
}



/* TABLES */


table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    background:#cccf3f url(meadow-bar-solid.png) repeat  55% 55%;
    border:1px solid #eeeeee;
    color:#000;
}

table.tablesorter tbody td {
    color: #3D3D3D;   
    background-color: #FFF;  
}

table.tablesorter tbody tr.odd td {
    background:#eff4ce;
}

table.tablesorter tbody tr.even td {
    background-color:#ffffff;
}

table.tablesorter thead tr .headerSortUp {
    background:#74b1e1 url(babyblue-bar-solid.png) repeat-x 55% 55%;
    color: #FFF;
}

table.tablesorter thead tr .headerSortDown {
    background:#74b1e1 url(babyblue-bar-solid.png) repeat-x 55% 55%;
    color: #000;
}

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: #d9db56;
    color: #000;
}

.column{
    background:#fff;
}

div.box {    
    border:1px solid #e7e3d0;    
}

.box th,.box .header{    
    background:#382214 repeat-x scroll 50% 50%;     
}

.box h2{   
    background: #cccf3f url(meadow-bar-striped.png) repeat-x 50% 50%;
    color:#000;
    border-bottom:1px solid #eee;
    font-family:Verdana;    
}

.box h2.collapse{
    background:#74b1e1 url(babyblue-bar-striped.png) repeat-x 50% 50%;
}

.success{
    background:#d9f9e0;
    border:1px solid #339933;
}

.box{
    background:#fff /*url(gray-white-gradient-bg.gif)*/;    
    border:1px solid #333333;
}

.smartLink:hover {
       background-color: #ffff00;
       color: #024769;   
}

table.tablesorter thead tr .headerSortUp p.active {
	background: url(asc_blk.gif) no-repeat center;	
}

table.tablesorter thead tr .headerSortDown p.active {
	background: url(desc_blk.gif) no-repeat center;	
}

.box h2.collapse:hover p.active{            	
	background:url(collapse_black.png) no-repeat center;	
}
.filter_body {
      color: #2E7EE4;
}

.filter_body form input.button{
  font-family:verdana,arial,geneva,sans-serif;
  text-decoration:none;
  background:#ff8106;
  border-color: #3D4D5A; 
  color:#FFF;  
}

.filter_body form input.button:active {
  background:#ff8106;
  border-top:solid 2px #2A537B;
  border-left:solid 2px #2A537B;
}

.filter_body	 form input.button:hover {
  background:#2e7ee4 repeat-x scroll 50% 50%;
  border-color: #4297D7;
  color:#EAF5F7;
}

.filter_head {   
    background:#171717 url(meadow-bar-solid.png) repeat 55% 55%;	 
	color: #EAF5F7;   
    border: 1px solid #333333; 
}

.filter_head span {
   background:#171717 url(meadow-bar-solid.png) repeat 55% 55%;	 
}

.filter_head:hover {
	  background:#f58400 url(babyblue-bar-striped.png) repeat-x 50% 50%;	 	 
}
    
.filter_body {    
    background-color:#ffffff;
    border-color: #333333;
    
}

.filter_head span.active {	 	 	
	 background:url(active_black.png) no-repeat top right;
}

.filter_head span.inactive {	 	 	
	 background:url(inactive_black.png) no-repeat top right;
}

