## $Id: datasetMenu.vm 5790 2009-07-07 06:32:53Z cylu $
## Renders top-level and sub-level tabs
#if( ! $indexName )
  #set( $indexname = $dc.getName() )
#end
 #set( $contextRoot = $link.getContextPath())  
            

#macro( displayTab $selectedTab $linkShortName $link $text $image)
  #if($selectedTab == $linkShortName)
	<li class="Highlight" style="background: url($contextRoot/${image}) 0 0 no-repeat;"><a class="undermenu" href='$link?indexName=$indexName'>$text</a></li>  
  #else
	<li class="Normal" style="background: url($contextRoot/${image}) 0 0 no-repeat;"><a class="undermenu" href='$link?indexName=$indexName'>$text</a></li> 
  #end
#end
<br/>
<a class="expand_all" href="#">Expand All</a>&nbsp&nbsp&nbsp<a class="collapse_all" href="#">Collapse All</a>
<div class="ui-widget-content ui-corner-all menuHolder">
<div class="menu_list"> 
    <p class="menu_head"><span class="active"></span>Index Configuration</p> 
    <div class="menu_body" id="menu_body1">  
               
            #displayTab( $selectedSubtab 'indexBasic' 'configBasic.do' 'Index Info' 'resources/images/star_green.png')
            #displayTab( $selectedSubtab 'data_source' 'configDataSource.do' 'DB Connection' 'resources/images/data_connection.png')
            #displayTab( $selectedSubtab 'data' 'configDataSelect.do' 'Query' 'resources/images/data_view.png' )
            #displayTab( $selectedSubtab 'schedule' 'listSchedules.do' 'Timer' 'resources/images/clock.png')
            #displayTab( $selectedSubtab 'advanced_queries' 'advancedQueries.do' 'Update/Delete SQL' 'resources/images/key1.png')
            #displayTab( $selectedSubtab 'spell_check' 'configSpellCheck.do' 'Spell Check' 'resources/images/palette_text.png')
            #displayTab( $selectedSubtab 'advanced_settings' 'datasetOptions.do' 'Advanced Settings' 'resources/images/wrench.png')            
    </div>
    <p class="menu_head"><span class="inactive"></span>Search Configuration</p> 
    <div class="menu_body" id="menu_body2">
            
            #displayTab( $selectedSubtab 'analyzer' 'configAnalyzer.do' 'Search Algorithm' 'resources/images/hand_point.png')
            #displayTab( $selectedSubtab 'searchBasic' 'configSearchBasic.do' 'Search Options' 'resources/images/gear_find.png')            
            #displayTab( $selectedSubtab 'wildcard' 'configWildcard.do' 'Wildcard' 'resources/images/percent.png')
            #displayTab( $selectedSubtab 'configSearchableColumns' 'configSearchableColumns.do' 'Searchable Columns' 'resources/images/find.png')
            #displayTab( $selectedSubtab 'configSortableColumns' 'configSortableColumns.do' 'Sortable Columns' 'resources/images/sort_ascending.png')
            #displayTab( $selectedSubtab 'configFilterableColumns' 'configFilterableColumns.do' 'Filterable Columns' 'resources/images/funnel_preferences.png')
            #displayTab( $selectedSubtab 'configDateWeightColumn' 'configDateWeightColumn.do' 'Date-Time Ordering' 'resources/images/history2.png')
        
    </div>
     <p class="menu_head"><span class="inactive"></span>Style Configuration</p> 
    <div class="menu_body" id="menu_body3">
         
           #displayTab( $selectedSubtab 'list' 'listTemplates.do' 'Style List' 'resources/images/scroll.png')
           #displayTab( $selectedSubtab 'create' 'listScaffolds.do' 'Choose From Designer' 'resources/images/text_rich_colored.png')
       
    </div>
     <p class="menu_head"><span class="inactive"></span>Report</p> 
    <div class="menu_body" id="menu_body4">
        
            #displayTab( $selectedSubtab 'usage' 'showIndexUsage.do' 'Search Usage' 'resources/images/column-chart.png')
            #displayTab( $selectedSubtab 'log' 'showIndexLog.do' 'Indexing Log' 'resources/images/line-chart.png')
            #displayTab( $selectedSubtab 'content' 'showIndexStatus.do' 'Index Content' 'resources/images/index.png')
            #displayTab( $selectedSubtab 'frequent_terms' 'showFrequentTerms.do' 'Frequent Terms' 'resources/images/sunglasses.png')
        
    </div>
</div>
</div>
