#macro(displayADebugRow $_n $_v)
    <tr>
      <td>$_n</td>
      <td>$!{_v}&nbsp;</td>
    </tr>
#end
<table width=80% border=0>
  <tr><td align="center" id="toggle_debug" onClick="$('#debug').slideToggle();">Toggle Debug</td></tr>
</table>
<div id="debug" style="display:none; border:none; padding:0">
<table class="debug" border="1">
  <tr><th nowrap>Parameter Name</th><th>Parameter Value</th></tr>
  #foreach( $parameter in $request.ParameterNames )
    <tr>
      <td>$parameter</td>
      <td>
      #foreach( $parameterValue in $request.getParameterValues($parameter) )
        #if($velocityCount!=1) , #end
        $parameterValue
      #end
      </td>
    </tr>
  #end

  <tr><th nowrap>Attribute Name</th><th>Attribute Value</th></tr>
  #foreach( $Attribute in $request.AttributeNames )
    #displayADebugRow($Attribute $request.getAttribute($Attribute) )
  #end

  <tr><th nowrap>Header Name</th><th>Header Value</th></tr>
  #foreach( $header in $request.HeaderNames )
    #displayADebugRow($header $!{request.getHeader($header)} )
  #end


    <tr><th nowrap>Request Information</th><th>Value</th></tr>
	#displayADebugRow('Scheme' $!{request.getScheme()}                  )
	#displayADebugRow('Request Method' $!{request.getMethod()}          )
	#displayADebugRow('Request URI' $!{request.getRequestURI()}         )
	#displayADebugRow('Request Protocol' $!{request.getProtocol()}      )
	#displayADebugRow('Servlet Path' $!{request.getServletPath()}       )
	#displayADebugRow('Path Info' $!{request.getPathInfo()}             )
	#displayADebugRow('Path Translated' $!{request.getPathTranslated()} )
	#displayADebugRow('Query String' $!{request.getQueryString()}       )
	#displayADebugRow('Content Length' $!{request.getContentLength()}   )
	#displayADebugRow('Content Type' $!{request.getContentType()}       )
	#displayADebugRow('Server Name' $!{request.getServerName()}         )
	#displayADebugRow('Server Port' $!{request.getServerPort()}         )
	#displayADebugRow('Remote User' $!{request.getRemoteUser()}         )
	#displayADebugRow('Remote Address' $!{request.getRemoteAddr()}      )
	#displayADebugRow('Remote Host' $!{request.getRemoteHost()}         )
	#displayADebugRow('Authorization Scheme' $!{request.getAuthType()}  )

</table>

</div>
