#macro( displayTab  $linkShortName $link $text $imageName $isNewWindow $firstLink)
  #if($firstLink == "false")
  	 <td>|</td> 
  #end
  #if($imageName != "")
  	<td><img src="images/$imageName" /></td>
  #end
  
  #if($isNewWindow == "true")
  	<td align=left nowrap><a style="color:black" href="$link" target="_blank">$text</a></td>
  #else
  	<td align=left nowrap><a style="color:black" href="$link">$text</a></td>
  #end  
  
#end
<div class="ui-corner-all designerGlobalNav">
<table height="20px" cellpadding="0" cellspacing="10" width="100%" style="font-size: 12px;">
<tr style="color: black;">
 <td align=left nowrap><img src="$link.getContextPath()/resources/images/appLogo.png"/></td>
  <td width="100%"></td>
  <td align=right nowrap>${date.full}</td>
  #if( $adminUser )
   	#displayTab ( "documentation" "http://sdlguide.wiki.zoho.com" "Help" "" "true" "false")
  	#displayTab ( "logOut" "logout.do" "Sign Out" "" "false" "false")
  #end
</tr>
</table>
#if( $adminUser )
    #parse("$region/systemMenu.vm")        
#end
</div>