#macro( displayOption $selectedValue $optionValue $optionText )
  #if( $jumperAction )
    #set( $_optionValue = "$jumperAction$optionValue" )
  #else
    #set( $_optionValue = "$optionValue" )
  #end
  #if( $jumperParams )
    #set( $_optionValue = "$_optionValue&$jumperParams" )
  #end
  <option value="$_optionValue"#if($selectedValue == $optionValue) selected#end>$optionText</option>
#end

#set($_menu_sc = $toolLoader.load("net.javacoding.xsearch.config.ServerConfiguration"))
<td style="text-align:right" align="right"><span id="jumper" style="text-align:right" align="right">
<form name="sys" id="sys" action="/desktop.do" method="GET">
<label class="highlight" for="sys">Select Index: </label><select class="jumpmenu" name="sys" id="sys" onChange="location=options[selectedIndex].value;">
#foreach($_menu_dc in $_menu_sc.getDatasetConfigurations(true) )
  #displayOption( "?indexName=$indexName" "?indexName=$_menu_dc.name" $_menu_dc.name )
#end
</select>
<noscript><input type="submit" value="Go"></noscript>
</form>
</span></td>
