#set($actionName = $request.getAttribute('org.apache.struts.action.mapping.instance').getPath() )
#set($wizard = $WebserverStatic.webConfiguration.wizard )
#set($currentStepIndex = $wizard.getCurrent($actionName.substring(1)) )
##
#if($currentStepIndex >=0)
  #set( $UserPreference = $toolLoader.load("net.javacoding.xsearch.foundation.UserPreference"))
  #macro(checkFinished $_key $indexName )
    #if($UserPreference.getBoolean("${_key}.${indexName}" , false))
      <img src="images/checked.gif" width="13" height="13" border="0" align="absmiddle">
    #else
      <img src="images/spacer.gif" width="13" height="13" border="0" align="absmiddle">
    #end	  	
  #end
#end
##
##
#if($currentStepIndex >=0)
	<div class="wizard_div" style="float:right">
    <table><tr>
      <th align="right">#toggleADiv("wizard" "toggle_wizard" "<img src='resources/images/expand.gif' alt='expand'>" "<img src='$link.getContextPath()/resources/images/collapse.gif' alt='collapse'>" "block")</th>
      <th align="left" nowrap="nowrap" style="padding-left:20px">Setup Wizard</th>
    </tr></table>
	   <div id="wizard" style="display:block;"><ul>
	#foreach($step in $wizard.steps)
      <li>
	  #if($currentStepIndex+1 == $velocityCount )
	  <img src="images/item_triangle.gif" width="13" height="8" border="0" align="absmiddle"> Step $velocityCount:&nbsp;<b>$step.name</b>
	  #elseif( !$step.repeatable )
	    #checkFinished(${step.defaultAction} ${indexName}) Step $velocityCount:&nbsp;$step.name
	  #else
	    #checkFinished(${step.defaultAction} ${indexName}) Step $velocityCount:&nbsp;<a href="${step.defaultAction}.do?indexName=$!{indexName}">$step.name</a>
	  #end
      </li>
	#end
     </ul></div>#displayADiv("wizard")
  </div>
	#set($isWizardDisplayed = true)

#end