## $Id: configSearchableColumns.vm 5787 2009-07-07 06:28:25Z cylu $

#set( $title = $msg.get("title") )
#set( $selectedMenu = 'dataset' )
#set( $selectedToptab = "search" )
#set( $selectedSubtab = "configSearchableColumns" )


<form name="f" method="post" action="configSearchableColumns.do">
<input type="hidden" name="indexName" value="$!{dc.name}">
<input type="hidden" name="operation" value="save">
<br />
#errorMarkup()
#messageMarkup()

#openFieldset("Searchable Column Configuration")
<div class="help">
<p>A column is Searchable if it meets one of the criteria:</p>
<ul class="ulstyle">
  <li>Field Type is <b>Text</b></li>
  <li>Field Type is <b>Compressed Text</b></li>
  <li>Field Type is <b>UnStored</b></li>
  <li>Field Type is <b>Keyword</b></li>
</ul>
<p>You can change the types in <a href="configWorkingQueue.do?indexName=$indexName">SQL Queries</a> tab.
<p>Here you can choose to enable/disable some of them, or to set the display name.</p>
<p>During searching, you can also dynamically set the searchable columns via http parameter "searchable", like &searchable=column1,column2,column3</p>
<p>"Tag" field is provided for advanced users to programatically control rendering by marking the column with some tag they defined.
</p>
<p><b>Note:</b> You can also append <b>&searchable=columA,columnB,columnC</b> to the search url to dynamically control searchable columns.</p>
</div>

<br />
<table id="columntable" class="xsearchBaseTable">
<tr align="center"><th>Column Index</th><th>Column</th><th>Type</th><th>Display Name</th><th>Search Weight</th><th>Searchable</th><th>Tag(Optional)</th></tr>
#foreach ($c in $columns)
    <tr>
      <td>$c.columnIndex</td>
      <td>$c.columnName</td>
      <td>${c.columnTypeShortName}(${c.indexFieldType})</td>
      <td><input type="text" style="width:15em" name="name_$c.columnName" value="$!{c.displayName}"></td>
      <td><input type="text" style="width: 5em" name="searchWeight_$c.columnName" value="$!{c.searchWeight}"></td>
      <td><input type="checkbox" name="enable_${c.columnName}" value="Y" #if($c.isSearchable)checked="checked"#end></td>
      <td><input type="text" style="width:10em" name="tag_$c.columnName" value="$!{c.tag}"></td>
    </tr>
#end
</table>
<table width="100%" cellpadding="5px" align="center">
<tr align="center">
<td >
#actionSubmitButton( "f" "submitSave" $!msg.get("button.save") "save" )
</td></tr>
</table>
#closeFieldset()

</form>
