#set( $title = $msg.get("title") )
#set( $selectedMenu = 'dataset' )
#set( $selectedToptab = "search" )
#set( $selectedSubtab = "configSortableColumns" )


<form name="f" method="post" action="configSortableColumns.do">
<input type="hidden" name="indexName" value="$!{dc.name}">
<input type="hidden" name="operation" value="save">
<br />
#errorMarkup()
#messageMarkup()

#openFieldset("Sortable Column Configuration")
<div class="help">
<p>Columns with the <b>Keyword</b> Field Type are sortable. </p>
<p>You can change the types in <a href="configWorkingQueue.do?indexName=$indexName">SQL Queries</a> tab.</p>
<p>Here you can choose to enable/disable some of them, to change the display order, or to set the display name.</p>

<p>"Tag" field is provided for advanced users to programatically control rendering by marking the column with some tag they defined.
</p>
<p><b>Note:</b>Changes here will affect the created templates.</p>
</div>
#closeFieldset()

#macro(radioInput $_n $_v $_selected_v)
<input type="radio" name="$_n" value="$_v" #if($_selected_v == $_v)checked="checked"#end />
#end
<br />
<table id="columntable" class="xsearchtable small_font">
<tr align="center"><th>Sort by Relavance</th><th>Column</th><th>Type</th><th>Display Name</th><th>Default Sort Order</th><th>Sortable</th><th>Tag(Optional)</th></tr>
#foreach ($c in $columns)
    <tr>
      <td><input type="text" style="width:3em" name="sortDisplayOrder_$c.columnName" value="$!{c.sortDisplayOrder}"></td>
      <td>$c.columnName</td>
      <td>${c.columnTypeShortName}(${c.indexFieldType})</td>
      <td><input type="text" style="width:15em" name="name_$c.columnName" value="$!{c.displayName}"></td>
      <td nowrap>
        #if($c.isDescending)#set($_order = "desc")#else #set($_order="asc")#end
		#radioInput("sort_$c.columnName" "desc" $_order)Descending &nbsp; 
        #radioInput("sort_$c.columnName" "asc"  $_order)Ascending
      </td>
      <td><input type="checkbox" name="enable_${c.columnName}" value="Y" #if($c.isSortable)checked="checked"#end></td>
      <td><input type="text" style="width:10em" name="tag_$c.columnName" value="$!{c.tag}"></td>
    </tr>
#end
</table>
<table align="center">
<tr align="left"><td align="left">
#actionSubmitButton( "f" "submitSave" $!msg.get("button.save") "save" )
</td></tr>
</table>
</form>
