#set( $title = $msg.get("title") )
#set( $selectedMenu = 'system' )
#set( $selectedToptab = 'report' )


<form name="f" method="post"">
<input type="hidden" name="operation" value="report">

#macro(reportTd $info $b)
<td align="right">
#if ($b) <b> #end
$!{info}
#if ($b) </b> #end
&nbsp;&nbsp;&nbsp;
</td>
#end

#macro(keys $keywords)
    #foreach ($keyWord in $keywords)
      #if ($velocityCount<=3)
        #if ($velocityCount>1)<br/> #end
        &nbsp;$velocityCount.&nbsp;$keyWord.key
      #end
    #end
#end

#macro(displaySimpleQueryReport $report $total)
  #if($_odd)#set($_odd = false ) #else #set($_odd = true) #end
  #if($_odd)<tr class="xsearchtable_odd">#else<tr class="xsearchtable_even">#end
      #reportTd($report.reportName $total)
      #reportTd($report.recordCount $total)
      #reportTd($report.avgSearchingTime $total)
      <td>#keys($report.topKeyWords)</td>
      <td>#keys($report.topIps)</td>
      #if (!$total)
        <td align=center><a href="showIndexUsage.do?indexName=$!{report.reportName}">Details</a></td>
      #else
        <td align=center></td>
      #end
  </tr>
#end

#set($QueryLogAnalyzer   = $toolLoader.load("net.javacoding.xsearch.status.QueryLogAnalyzer"))
#set($period = ${request.getParameter("period")})
#if (!$period)
    #set($period = 0)
#end

#set($allReport= $QueryLogAnalyzer.getReport(null,$period))
#set($report = $allReport)


#parse("/WEB-INF/velocity/region/report/controlHeader.vm")
<br/>

<div id="control" style="margin-left:auto; margin-right:auto; width:90%">
<div id="tp2" title="System Info">
<br/>
#macro(oneRow $_prompt $_value)
#if($_odd)#set($_odd = false ) #else #set($_odd = true) #end
#if($_odd)<tr class="xsearchtable_odd">#else<tr class="xsearchtable_even">#end<td align="right"><b>$_prompt</b>&nbsp;</td><td>$_value</td></tr>
#end
    <table class="xsearchtable" style="width:95%">
    #set($schedulerMetaData = $WebserverStatic.getScheduler().getMetaData() )
    #set($__time = ${schedulerMetaData.runningSince()} )
    #oneRow('Up Time' "#displayElapsedTime($__time)(since $__time)" )
    #oneRow('Number Of Processor' $systemInfo.numberOfProcessor )
    #oneRow('OS Name' $systemInfo.OSName )
    #oneRow('OS Version' $systemInfo.OSVersion )
    #oneRow('JVM Vendor' $systemInfo.JVMVender )
    #oneRow('JVM Version' $systemInfo.JVMVersion )
    #oneRow('Total Memory' $systemInfo.totalMemory )
    #oneRow('Free Memory' $systemInfo.freeMemory )
    #oneRow('Max Memory' $systemInfo.maxMemory )
    #oneRow('Local Access URL' $WebserverStatic.localURL )
    #oneRow('Remote Access URL' $WebserverStatic.serverURL )
    #oneRow('' '----------------------- System Properties -----------------------' )
    #set($p = $WebserverStatic.getSystemProperties() )
    #foreach ($k in $p.keys())
      #oneRow($k $escapeChars.forHTMLTag($p.getProperty($k)) )
    #end
    </table>
<br/>
</div>

<div id="tp1" title="Summary Report">
<br/>
    <table class="xsearchtable" style="width:95%">
           <tr>
              <th>Index Name </th>
              <th>Total Queries</th>
              <th>Avg Time/Query(ms) </th>
              <th>Top Keywords</th>
              <th>Top IP Visited</th>
              <th>Detail Report</th>
           </tr>
    #foreach( $dataSet in $QueryLogAnalyzer.allDataSets )
        #set($queryReport= $QueryLogAnalyzer.getReport($dataSet,$period))
        #displaySimpleQueryReport($queryReport false)
    #end
    #displaySimpleQueryReport($allReport true )
    </table>
<br/>
</div>

#parse("/WEB-INF/velocity/region/report/report.vm")
</div>

<script>
tpSet('control', 'tabs', 'tp1', 'topKeyword', 'topIp', 'topNoResultSearch', 'avgHits');
</script>
</form>