<html><head><title>ROAM Help</title>
<style type="text/css" media=all>
body{margin:4px 6px 4px 6px;background-color:#fff}
body,th,td,div,.p,a{font-family:verdana,sans-serif;font-size:90%}
.box{width:100%;border:1px solid #d2e4fc;border-collapse:collapse;float:top}
.box th,.box .header{text-align:left;font-weight:bold;background:#2191C0 url(styles/images/ui-bg_gloss-wave_75_2191c0_500x100.png) repeat-x scroll 50% 50%;border:1px}
.center{text-align:center;}
</style>
</head>
<body>
<A HREF="javascript:history.go(-1)">« Back to search results</a>
<center><img src = "ROAM.gif"></center>
<br>

<CENTER> <A HREF = "#FAQ">Frequently Asked Questions</A> | <A HREF = "#TIPS">Helpful Tips</A> </CENTER>
<BR>
<BR>
<BR>

<B><A NAME = "FAQ"><FONT SIZE = "3">FREQUENTLY ASKED QUESTIONS</FONT></A></B>
<BR><BR><P>

<B><I>Why am I receiving a "Nothing found to display" message after doing a search?</I></B><UL><LI>
This message will display if there are no results to display which match the criteria entered or if you have not entered any criteria to search on. Only cases which were filed after July 31, 2009 will be returned in the search results. Please go to <a href="http://www.courts.state.va.us/">http://www.courts.state.va.us/</a> to locate any cases filed prior to July 31, 2009.
</LI></UL>

<B><I><A NAME = "FORMAT">How can I search by case number?</A></I></B><UL><LI>
Case number format includes a two character court type prefix followed by eight digits and a hyphen (-) with a two digit suffix. If the case number you are searching does not contain eight digits before the hyphen, try typing two zeroes after the first two digits. For example, if your case number is CL09-1234, try CL09001234-00. Please note that the two digit suffix does not indicate charge count. The suffix is used when subsequent filings are made under the base case such as Reinstatements.
</LI></UL>

<B><I>How can I search by date in the Basic Search?</I></B><UL><LI>
To search by a date in the Basic Search, the date must be in the following format: YYYYMMDD. For example, 20091231 would search for date December 31, 2009.
</LI></UL>



<BR><P>


<B><A NAME = "TIPS"><FONT SIZE = "3">HELPFUL TIPS</FONT></A></B>
<BR>

<BR>

<B>Basic Search</B><P><UL><LI>
The Basic Search is a full text search across all indexed fields.
<p>
Example:  If a user types <I>John Smith</I> into the Basic Search it will find all instances of <I>John Smith</I> located in all fields indexed.  The user would also get instances of <I>Smith John</I> that are located in all fields indexed.

</LI></UL>

<B>Advanced Search</B><P><UL><LI>
The Advanced Search is a full text field-level search that can be accessed from the <I>Advanced Search</I> hyperlink on the main search page.
<P>
Example: If a user types <I>John Smith</I> into the name field the user would get results for records that contained <I>John Smith</I> and <I>Smith John</I> <U>only</U> in the name field.

</LI></UL>



<B>Results Sorting</B><P><UL><LI>
ROAM utilizes client side sorting table to display results.  A user can sort the results in the current page by double clicking on any of the column headers.  Please note that this sorts only the results within the current page.
</LI></UL>


<B>Wild Card Searching</B><P><UL><LI>
ROAM supports Wildcard searching.  A user can perform a Wildcard search by entering a ‘*’ after a minimum of 2 characters in order to utilize wildcard searching capability.
<P>
Example:  Entering <I>Jo* Smith</I> in ROAM will return results matching <I>John Smith, Smith John, Joe Smith, Smith Joe, Joseph Smith, Smith Joseph, etc.</I>  Entering <I>J* Smith</I> into ROAM will only return results matching <I>J Smith</I> and <I>Smith J</I>.  You must enter a minimum of 2 characters to use ROAM’s Wildcard searching capability
</LI></UL>



<B>Faceting (Filter)</B><P><UL><LI>
ROAM provides the ability to filter searches utilizing ROAM’s faceting functionality.  The facet is located on the left hand side of your search results screen.  When selecting an item in the facet it will filter your results to include only results that match that item.  Selected filters are shown at the top of the facet. Users have the option of removing filters by clicking on them again in the top of the facet.
</LI></UL>

<B>Exact Searches</B><P><UL><LI>
Users can run an exact search by placing quotation marks (“ “) around the string of text they want to search on.
<P>
Example: Entering <I>“Smith John”</I> will return results matching <I>Smith John</I> and will not return results matching <I>John Smith</I>
</LI></UL>


<B>Results Per Page</B><P><UL><LI>
The results per page in ROAM can be adjusted by the user to any of the allowed settings in the results per page drop down located in the lower right hand corner of the web page.
</LI></UL>


<B>Export Options</B><P><UL><LI>
ROAM allows the user to export the contents of the page into excel, pdf, and word using the Export feature located at the bottom of the search results
</LI></UL>

<B>Browser Compatibility</B><P>
<img src = "browsers.png" alt = "IE, Firefox, Chrome, Safari, Opera">
<BR><BR>


</body>
</html>