/* tables */
table.tablesorter {
	font-family:arial;
	--background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background:#2191C0 url(ui-bg_gloss-wave_75_2191c0_500x100.png) repeat-x scroll 50% 50%;border:1px solid #4297D7;color:#EAF5F7;
	border: 1px solid #FFF;
	font-size: 10pt;
    padding-left: 15px;
    background-position:right center;
}
table.tablesorter thead tr .header {
	background-repeat: no-repeat;
	background-position: center left;
	cursor: pointer;
	padding:2px 4px;
	background-position:right center;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	background-color: #8dbdd8;
}

span.export {
    cursor:pointer;
    display:inline-block;
    padding:0 4px 1px 20px;
}

span.excel {
	background-image: url(excel.png);
	background-repeat: no-repeat;
	height: 16px;
}

span.pdf {
	background-image: url(acrobat.png);
	background-repeat: no-repeat;
	height: 16px;
}

span.rtf {
	background-image: url(word.png);
	background-repeat: no-repeat;
	height: 16px;
}

span.csv {
	background-image: url(/images/ico_file_csv.png); 
}

span.xml {
	background-image: url(/images/ico_file_xml.png);
}


div.exportlinks {
	background-color:#EEEEEE;
	border:1px dotted #999999;
	padding:5px 8px;
	width:300px;
}