##
##  The comments # are needed to ensure the status "OK" or "Error:" is the first seen in status
#set( $layout = "Empty.vm" )
#if( $errs.size() > 0 )
<errors>
#foreach($e in $errs)
  <error>$e</error>
#end
</errors>
#else
OK#if($ret) $ret#end
#end