## $Id: configWildcard.vm 5787 2009-07-07 06:28:25Z cylu $

#set( $title = $msg.get("title") )
#set( $selectedMenu = 'dataset' )
#set( $selectedToptab = "search" )
#set( $selectedSubtab = "wildcard" )


#macro(alternate_bgcolor)
  #if($_bgcolor=='#ffffff')
    	#set($_bgcolor="#e6e6e6")
  #else
    #set($_bgcolor='#ffffff')
  #end
#end

#macro( tableRowCheckbox $promptname $sometext $inputname $somevalue )
  #alternate_bgcolor()
  <tr bgcolor="$_bgcolor">#promptTD($promptname)<td><input type="checkbox" name="$inputname" id="$inputname" value="Y" #if($somevalue)checked#end>$sometext</td></tr>
#end

#macro( tableRowShortInput $promptname $prefix $suffix $inputname $somevalue )
  #alternate_bgcolor()
  <tr bgcolor="$_bgcolor">#promptTD($promptname)<td>$!{prefix}<input type="text" name="$inputname" id="$inputname" size="5" value="$!somevalue">$suffix</td></tr>
#end

#macro( tableRowComment $somevalue )
  <tr bgcolor="$_bgcolor"><td>&nbsp;</td><td colspan="1">$!somevalue</td></tr>
#end

<form name="f" method="post">
<input type="hidden" name="operation" value="save">
<br />
#errorMarkup()
#messageMarkup()

#openFieldset("Wildcard Search Configuration")
<table width="100%" cellpadding="5" cellspacing="0" border="0">
#tableRowCheckbox( "Wildcard Search" "Enable" "isWildcardAllowed" $dc.isWildcardAllowed )
#tableRowComment("Enabling this will make search <b>slower</b>, since search has to match all possible choices.<br /> So if wildcard search is really need, it's better to limit the wildcard prefix length to a larger number.")
#tableRowShortInput( "Min Wildcard Prefix Length" "Minimal&nbsp;" '&nbsp;characters before "*" or "?"' "minWildcardPrefixLength" $!{dc.minWildcardPrefixLength} )
#tableRowComment("This is to prevent too much possible matches of the wildcard query. Too much varieties will slow down the query. The upper limit of all posibble choices is 1000.")
#tableRowCheckbox( "Lowercase Wildcard Phrase" "Enable" "isWildcardLowercaseNeeded" $dc.isWildcardLowercaseNeeded )
#tableRowComment("If the algorithm you use does lowercasing, which is true in most cases, you should leave it checked.")
</table>
<br />

<table width="80%" cellpadding="5" cellspacing="0" border="0" align="center">
<tr><td>&nbsp;</td><td align="center">
#actionSubmitButton( "f" "submitSave" $!msg.get("button.save") "save" )
</td></tr>
</table>
#closeFieldset()
</form>
