## $Id: configSearchBasic.vm 5787 2009-07-07 06:28:25Z cylu $

#set( $title = $msg.get("title") )
#set( $selectedMenu = 'dataset' )
#set( $selectedToptab = "search" )
#set( $selectedSubtab = "searchBasic" )


#macro( radioInput $inputName $inputValue $expectedValue $selectedValue )
  <input type="radio" name="$inputName" id="$inputName" value="$inputValue"#if($expectedValue==$selectedValue) checked="checked"#end>
#end

<form name="f" method="post">
<input type="hidden" name="operation" value="save">
<br />
#errorMarkup()
#messageMarkup()

#openFieldset("Search Options")
<div class="help">
<p>If you need to dynamically change boolean logic operator, you can append
<i><b>&nbsp;&nbsp;&nbsp;&booleanOperator=and&nbsp;&nbsp;&nbsp;</b></i>or<i><b>&nbsp;&nbsp;&nbsp;&booleanOperator=or&nbsp;&nbsp;&nbsp;</b></i> to the URL of search.do
</p>
</div>

<br />
<table class="xsearchtable">
  <tr>
    <th>Select</th>
    <td align="center" class="xsearchtable_head"><h4>#radioInput('andMode'   'Y' true  $dc.isQueryDefaultAnd )AND mode for all keywords</h4></td>
    <td align="center" class="xsearchtable_head"><h4>#radioInput('andMode'   'N' false $dc.isQueryDefaultAnd )OR mode for all keywords</h4></td>
  </tr>
  <tr>
    <td class="xsearchtable_head"><h6>Description:</h6></td>
    <td><ul class="ulstyle">
		<li>All keywords are AND</li>
	    <li>All keywords are required.</li>
	    <li>It's more natural to search like this.</li>
    </ul></td>
    <td><ul class="ulstyle">
		<li>All keywords are OR related.</li>
	    <li>Prefixing "+" to a keyword makes the keyword required</li>
	    <li>Prefixing "-" to a keyword makes the keyword prohibited</li>
	    <li>Some websites, like shopping, may need this mode to display more relevant information.</li>
   	</ul></td>
  </tr>
</table>
<table width="80%" cellpadding="5" cellspacing="0" border="0" align="center">
<tr><td align=center>
#actionSubmitButton( "f" "submitSave" $!msg.get("button.save") "save" )
</td></tr>
</table>
#closeFieldset()
</form>
