## $Id: editTemplate.vm 5787 2009-07-07 06:28:25Z cylu $

#set( $title = $msg.get("title") )
#set( $selectedMenu = 'dataset' )
#set( $selectedToptab = "template" )
#set( $selectedSubtab = "list" )

#set( $jumperAction = "listTemplates.do" )

#macro( tableRowSingleLineInput $promptname $inputname $somevalue )
  <tr>#promptTD($promptname)<td><input type="text" name="$inputname" id="$inputname" size="80" value="$!somevalue" /></td></tr>
#end
#macro( tableRowSingleLineShortInput $promptname $inputname $somevalue $desc )
  <tr>#promptTD($promptname)<td><input type="text" name="$inputname" id="$inputname" size="8" value="$!somevalue" />
    <i>$!{desc}</i>
  </td></tr>
#end

#macro( tableRowError $somevalue )
  <tr><td>&nbsp;</td><td class="error">&nbsp;$!somevalue</td></tr>
#end

<script type="text/javascript">
<!--
function deleteFile(fileName) {
  if (!confirm("Are you sure you want to delete file " + fileName + "?")) {
    return;
  }
  document.f.operation.value = "deleteFile";
  document.f.df.value = fileName;
  document.f.submit();
}

function preview() {
  document.f.target = "preview";
  document.f.operation.value = "preview"
  var q = document.f.q.value;
  document.f.q.value = encodeURIComponent(q);
  document.f.submit();
  document.f.q.value = q;
  document.f.target = "_parent";
}
// -->
</script>

#parse("/WEB-INF/velocity/region/breadcrumb.vm")
<br />
#errorMarkupForProperty("error")
#messageMarkup()

#set($templateUtil = $toolLoader.load("com.fdt.sdl.admin.styledesigner.TemplateUtil"))

<form name="f" id="f" method="post" action="editTemplate.do">
<input type="hidden" name="operation" value="save" />
<input type="hidden" name="indexName" id="indexName" value="$indexName" />
<input type="hidden" name="templateName" id="templateName" value="$template.name" />
<input type="hidden" name="directoryName" value="$directoryName" />
<input type="hidden" name="df" id="df" value="" />

<input type="hidden" name="fileName" value="${templateUtil.getTemplateMainFile($indexName,$template.name).name}" />

<input type="hidden" name="urlParams" id="urlParams" value="templateName=$template.name" />
<input type="hidden" name="selectedToptab" id="selectedToptab" value="$selectedToptab" />
<input type="hidden" name="selectedSubtab" id="selectedSubtab" value="$selectedSubtab" />
<input type="hidden" name="jumperAction" id="jumperAction" value="$jumperAction" />
<input type="hidden" name="forwardName" id="forwardName" value="editTemplate" />

#openFieldset("Edit Page View")
<table width="100%" cellpadding="5" cellspacing="0" border="0">
  <tr>#promptTD("Name")<td>$!{template.name}</td></tr>
  #tableRowSingleLineInput( "Display Name" "longname" $!{template.longname} )
  ##tableRowSingleLineInput( "Description" "description" $!{template.description} )
  <tr>#promptTD("Description")<td><textarea name="description" id="description" cols="80" rows="3" wrap="virtual">$!{template.description}</textarea></td></tr>
  #tableRowSingleLineShortInput( "Default Results Per Page" "defaultLength" $!{template.defaultLength} "Overwrites the default 30 results per page, when there is no <b>length</b> parameter")
  <tr><td>&nbsp;</td>
  <td>#actionSubmitButton( "f" "submitSave" $!msg.get("button.save") "save" )
  </td></tr>
  <tr>#promptTD("Preview")
  <td>
  <table>
  	<tr>
  		<td>
    <input type="text" name="q" id="q" size="55" value="" />
    	</td>
    	<td>	
    		<button type="submit" class="dashboard" name="btnPreview" id="btnPreview" onclick="preview(); return false;" />Preview Search Result</button>
    	</td>
    </tr>
  </table> 		
  </td></tr>
  #if($templateFile)
  <tr>#promptTD("Current Directory")
  <td>
    $templateDirectory
    #foreach( $dir in $templateDirectory.path )
      <a href="?indexName=$indexName&templateName=$templateName&fileName=$">$dir</a>
    #end
  </td></tr>
  #end
  <tr>#promptTD("Files")<td>
    <table class="xsearchLeftTable">
      <tr><th>&nbsp;</th><th>Name</th><th>Size(Bytes)</th><th>Permission</th><th>Type</th><th>Modified</th><th width="5%">Edit</th><th width="5%">Delete</th></tr>
      #foreach( $f in $files )
        #set($_name = $f.name.toLowerCase() )
        #if( $f.isDirectory() ) #set($_type = 'Directory')
        #elseif( $_name.endsWith(".stl") || $_name.endsWith(".jsp") ||$_name.endsWith(".vm") ) #set($_type = 'Template')
        #elseif( $_name.endsWith(".htm") || $_name.endsWith(".html") ) #set($_type = 'HTML')
        #elseif( $_name.endsWith(".css"))#set($_type = 'Cascading Style Sheet')
        #elseif( $_name.endsWith(".js"))#set($_type = 'Javascript File')
        #elseif( $_name.endsWith(".swf"))#set($_type = 'Flash File')
        #elseif( $_name.endsWith(".pdf"))#set($_type = 'Adobe PDF File')
        #elseif( $_name.endsWith(".txt"))#set($_type = 'Text File')
        #elseif( $_name.endsWith(".png") || $_name.endsWith(".gif") ||  $_name.endsWith(".bmp") ||  $_name.endsWith(".jpeg") || $_name.endsWith(".jpg") )#set($_type = 'Image')
        #else #set($_type = 'Unknown File Type')
        #end
        <tr>
        <td>
          #if($_type=='Template' &&($_name.startsWith('main')|| $_name.startsWith('document')||$_name.startsWith('cache.')))
            <img ALIGN=ABSMIDDLE src="$link.getContextPath()/resources/images/res_file.png" #tip('Reserved Template File')>
          #elseif($_type=='Directory')
            <img ALIGN=ABSMIDDLE src="$link.getContextPath()/resources/images/folder.png">
          #else
            &nbsp;
          #end
        </td>
        <td>
          #if($_type == 'Directory' )
            <a href="editTemplate.do?indexName=$!{indexName}&templateName=$!{template.name}&directoryName=${f.name}">${f.name}</a>
          #elseif($_type != 'Image' )
            <a href="editTemplateFile.do?indexName=$!{indexName}&templateName=$!{template.name}&directoryName=$!{directoryName}&fileName=${f.name}">${f.name}</a>
          #else
            #set($_image_url= "${templateUtil.getTemplatePath($indexName, $template.name, $directoryName)}/$f.name" )
            <a href="${_image_url}" #tip("<img src=$link.getContextPath()/${_image_url}>")>${f.name}</a>
          #end
        </td>
        <td align="right">$number.format($!{f.length()})</td>
        <td align="right">#if($f.canRead())read#else-#end, #if($f.canWrite())write#else-#end</td>
        <td align="right">$!{_type}</td>
        #set( $_time = $vmTool.longToDate($f.lastModified()) )
        <td align="right" #tip("#displayElapsedTime($_time) ago")>$date.format("MMM dd, yyyy h:mm:ss a" ,$_time)</td>
        <td align="center">#if($_type != 'Image' )<a href="editTemplateFile.do?indexName=$!{indexName}&templateName=$!{template.name}&directoryName=$!{directoryName}&fileName=${f.name}"><img src="$link.getContextPath()/resources/images/edit.png" border="0" alt="Edit" /></a>#end</td>
        #if( $f.name.startsWith('main') || $f.name.startsWith('document') || $f.name.startsWith('cache') )
          <td>&nbsp;</td>
        #else
          <td align="center"><a href="javascript:deleteFile('$f.name')"><img src="$link.getContextPath()/resources/images/remove.gif" border="0" alt="Delete" /></a></td>
        #end
        </tr>
        #set($_includedFiles = false )
        #set($_includedFiles = $vmTool.match($f, '<#include\s+\"(\S+)\"\s*>' ) )
        #if( $_includedFiles )
          <tr><td colspan="8">
          #foreach($_included in $_includedFiles)
            #set( $fIncluded = $templateUtil.getTemplateFile($indexName, $template.name, "${_included.get(2)}" ) )
            &nbsp;&nbsp;&nbsp;&nbsp;line ${_included.get(0)}: 
            #if( ${fIncluded.exists()} )
              #if($_included.get(2).indexOf('/')>0)
                #set($directoryName = $_included.get(2).substring(0,$_included.get(2).indexOf('/')) )
                #set($fileNameStart = $_included.get(2).indexOf('/') + 1 )
                #set($fileName = $_included.get(2).substring($fileNameStart ) )
              #else
                #set($fileName = $_included.get(2) )
              #end
              <a href="editTemplateFile.do?indexName=$!{indexName}&templateName=$!{template.name}&directoryName=$!{directoryName}&fileName=$!{fileName}">${_included.get(1)}</a>
            #else
              ${_included.get(1)}
            #end
            #if(${_included.get(2)} == 'documents.vm' )
              <img ALIGN=ABSMIDDLE src="$link.getContextPath()/resources/images/res_file.png" #tip('Reserved Template File')>           
            #end<br />
          #end
          </td></tr>
        #end
      #end
    </table>
  </td></tr>
  <tr>#promptTD('Upload Files')
  <td>
    <button type="submit" class="general" name="btnUpload" id="btnUpload" onclick="document.f.operation.value='uploadFile'; document.f.submit(); return false;">Upload</button>
  </td></tr>
  <tr>#promptTD('Create New File')
  <td>
    <table >
	  	<tr >
	  		<td>
    File Name: <input type="text" name="af" id="af" size="40" value="$!{af}" />
	    	</td>
	    	<td>	
	    	   <button type="submit" class="general" name="btnAdd" id="btnAdd" onclick="document.f.operation.value='addFile'; document.f.submit(); return false;">Create</button>
	    	</td>
	    </tr>
   </table> 	   
  </td></tr>
  #if( $errors.exist("fileName") )
    #tableRowError( $!{errors.get("fileName").get(0)} )
  #end
</table>
#closeFieldset()
</form>
