##
##  assumed in the context
##         indexName, // already opened
##
#set($layout = 'Empty.vm')
#set($logUtil = $toolLoader.load("net.javacoding.xsearch.utility.LogUtil"))
#set($_log_content = $logUtil.getShortLogContent($indexName, "<br />") )
#if(!$U.isEmpty($_log_content))
  $_log_content
#else
  $indexName, Empty Log File
#end
<b>$date.full</b>
