##
##  assumed in the context
##         docNum // the document number
##         dc // the datasetConfiguration
##         totalCount// the total amount of documents
##

#set( $title= ${indexName} )
#set( $selectedMenu = 'dataset' )
#set( $selectedToptab = "status" )
#set( $selectedSubtab = "content" )

#set( $url  = "showIndexStatus.do?indexName=${indexName}&docNum=" )
#set( $prev = $docNum - 1 )
#set( $next = $docNum + 1 )
#set( $last = $totalCount - 1 )

#openFieldset("Index Content")

<table width="100%" border="0" align="center"><tr><td>
${indexName} $!{periodTable}
</td></tr></table>

#errorMarkup()


<table width="800" border="0" cellpadding="8">
  <tr>
    <td valign="bottom" nowrap>
      #if ( $docNum > 0 )
        <A HREF=${url}0><span class="label">&lt;&lt;First</span></A>
        &nbsp;
        <A HREF=${url}${prev}><span class="label">&lt;Prev.</span></A>
      #elseif($docNum)
        <span class="label">&lt;&lt;First</span>
        &nbsp;
        <span class="label">&lt;Prev.</span>
      #else
        <A HREF=${url}0><span class="label">&lt;&lt;First</span></A>
      #end
    </td>
    <td width="40%" valign="bottom">
      #if($docNum)
      <div align="center"><font face="verdana, Helvetica, sans-serif" size="2"><B>Document $!{next} of $!{totalCount}</b></font></div>
      #end
    </td>
    <td valign="bottom" nowrap>
      #if ( $docNum < ( $totalCount - 1 ) )
        <A HREF=${url}${next}><span class="label">Next&gt;</span></A>
        &nbsp;
        <A HREF=${url}${last}><span class="label">Last&gt;&gt;</span></A>
      #elseif($docNum)
        <span class="label">Next&gt;</span>
        &nbsp;
        <span class="label">Last&gt;&gt;</span>
      #else
        <A HREF=${url}${last}><span class="label">Last&gt;&gt;</span></A>
      #end
    </td>
    <td nowrap align="right">
      <a href="configAnalyzer.do?indexName=$indexName">Go to Analyzer Page&gt;&gt;</a>
    </td>
    </td>
  </tr>
</table>

<form action="showIndexContentByPK.do">
<Table cellspacing="0" cellpadding="0" border="0">
<TR>
	<TD>
<input type="hidden" name="indexName" value="$!{indexName}">
Primary Key Column <b>$!pkColumn.columnName</b> : <input type="text" name="pkValue" value="$!{pkValue}">
	</TD>
	<TD>	
		<button class="go" type="submit">Go</button>
	</TD>
</TR>
</TABLE>
</form>
<br>
#set($htmlTool = $toolLoader.load("net.javacoding.xsearch.search.HTMLEntities"))
<table width="100%" border="0" id="columntable" class="xsearchtable">
#if( $doc )
    #if(false) ## this boost value is not stored in the index. It's already distributed among all fields
    <tr bgcolor="#dddddd">
      <td valign=top nowrap><b>Document Boost</b><br />
      <td>$!{doc.boost}</td>
    </tr>
    #end
    #set($showColor = false )
    <tr>
    	<th>Field Name
    	</th>
    	<th>Index Content
    	</th>
    </tr>	
    #foreach( $field in $doc.fields() )
      #if($showColor)#set($showColor=false)#else#set($showColor =true)#end
      ##set ($showColor = ! $showColor )
      #if($showColor)#set($rowColor='#eeeeee')#else#set($rowColor ='#ffffff')#end
      <tr bgcolor="$rowColor">
        <td valign=top><b>${field.name()}</b><br />
        #if     ( $field.isStored() && $field.isIndexed() && $field.isTokenized() )
            (Text)
        #elseif ( $field.isStored() &&!$field.isIndexed() &&!$field.isTokenized() )
            (UnIndexed)
        #elseif ( $field.isStored() && $field.isIndexed() &&!$field.isTokenized() )
            (Keyword)
        #else
            (UnStored)
        #end
        ##(stored=${field.isStored()}, tokenized=${field.isTokenized()},indexed=${field.isIndexed()})
        </td>
        #if( $dc.findColumn(${field.name()}).isDate )
          <td>${vmTool.storedStringToDate( $field.stringValue() )}($field.stringValue())</td>
        #else
          <td>$!{htmlTool.encode( $field.stringValue() )}</td>
        #end
      </tr>
    #end
    </td></tr>
#end
</table>
#closeFieldset()
