@charset "utf-8";
/* GLOSSY ORANGE CSS */


@import url("theme-base.css");


body {   
    background: #fff;
    color: #f48400;

    /*background-image:
            -moz-linear-gradient(top,
                                 #fefdf9,
                                 #4f4f4f);
    background-image:
           -webkit-gradient(linear,
                            left top,
                            left bottom,
                            from(#fefdf9),
                            to(#4f4f4f));*/ 
    
}

a:link {	
	color: #000;
	text-decoration: none;                
}

a:visited {
	color: #f58400;
}
a:hover {
	background-color: none;
}

a.gotoPage, a.gotoPage:link, a.gotoPage:visited {
background-color: #44569E;
}

a.gotoPage:hover,a.gotoPage:active {
background-color:#051761;
}

span.highlight {
        background-color:#fbc483;
}

td.mainLeft {
    --background: #032c555 url(striped-gray-bg.gif);
}

td.mainRight {
    border:1px solid #333333;
}

p.result {
      border-bottom:1px solid #DDDDDD;     
}

table.resultHeader {
    font-family: helvetica, arial, sans-serif;;    
    background:#f58400 url(orange-bar-solid.png) repeat-x 55% 55%;   
}

font.label{
    font-family:verdana,sans-serif;    
}

input.text {
    background: #FFF url('magnifying-glass.gif') no-repeat;
    border-width: 2px;
    border-color:#362d06; 
}  
 
button.search {
    background:#f58400 url(orange-bar-striped.png) repeat-x 50% 50%;
    border:1px solid #fff; 
    color:#fff;
    padding:5px 5px 5px 5px;
    width:150px;
    font-weight:bold;    
    clear:none;
    cursor:pointer;
    display:block;
    line-height:1.2em;
}
a.gotoPage {
    background:#f58400 url(orange-bar-striped.png) repeat-x 50% 50%;
    border:1px solid #4297D7; 
    color:#EAF5F7;
}

td.resultHeadercolleft {
    color:#FFF;    
}

td.resultHeadercolright {
    color:#FFF;
}

.multi_select form input.button,button.button {
  font-family:verdana,arial,geneva,sans-serif;
  font-weight:bold;
  font-size:12px;  
  text-decoration:none;
  background:#ff8106;
  border:1px solid #3D4D5A; 
  color:#FFF;   
}

.multi_select form input.button:active {
  background:#ff8106;
  border-top:solid 2px #2A537B;
  border-left:solid 2px #2A537B;
}

.multi_select form input.button:hover,button.button:hover {
  background:#2e7ee4 repeat-x scroll 50% 50%;
  border:1px solid #4297D7;
  color:#EAF5F7;
}




/* TABLES */

table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    background:#f58400 url(orange-bar-solid.png) repeat scroll 55% 55%;
    border:1px solid #333333;
    color:#FFF;
    font-size: 1.2em;
}

table.tablesorter tbody td {
    color: #3D3D3D;    
    background-color: #FFF;    
}

table.tablesorter tbody tr.odd td {
    background:#efefed;
}

table.tablesorter tbody tr.even td {
    background-color:#ffffff;
}

table.tablesorter thead tr .headerSortUp {
    background:#1f64da url(bluelight-bar-solid.png) repeat-x 55% 55%;
    color: #FFF;
}

table.tablesorter thead tr .headerSortDown {
    background:#1f64da url(bluelight-bar-solid.png) repeat-x 55% 55%;
    color: #FFF;
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: #1f64da url(bluelight-bar-solid.png) repeat-x 55% 55%;
    color: #FFF;
}

.column{
    background:#fff;
}

div.box {    
    border:1px solid #333333;
    border-collapse:collapse;   
}

.box th,.box .header{
    font-weight:bold;
    background:#FFF repeat-x scroll 50% 50%; 
    border:2px #333333;
}

.box h2{   
    background: #f58400 url(orange-bar-striped.png) repeat-x 45% 45%;
    color:#fff;
    border-bottom:1px solid #eee;
    font-size: 1em;       
}

.box h2.collapse{
    background:#1f64da url(bluelight-bar-striped.png) repeat-x 45% 45%;
}

.success{
    background:#d9f9e0;
    border:1px solid #339933;
}

.box{
    background:#fff url(gray-white-gradient-bg.gif);
    border:2px solid #333333;   
}

.smartLink:hover {
       background-color: #ffff00;
       color: #024769;   
}

table.tablesorter thead tr .headerSortUp p.active {
	background: url(asc_orange.gif) no-repeat center;	
}

table.tablesorter thead tr .headerSortDown p.active {
	background: url(desc_orange.gif) no-repeat center;	
}

.box h2.collapse:hover p.active{            	
	background:url(collapse_orange.png) no-repeat center;	
}

@charset "utf-8";
/* CSS Document */

