<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<configuration scan="true" scanPeriod="300 seconds">

    <property name="PREFIX_HOME" value="C:\\logs\\sdlecom"/>

    <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
	    <encoder>
	       <pattern>%d{MM-dd-yy HH:mm:ss.SSS} %-5level [%33.33logger{5}]: %msg%n</pattern>
	    </encoder>
    </appender>

    <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="FILE">
        <file>${PREFIX_HOME}/ROAM/ROAM.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{MM-dd-yy HH:mm:ss.SSS} %-5level [%33.33logger{5}]: %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${PREFIX_HOME}/ROAM/ROAM-%d{MM-dd-yyyy}-%i.zip</fileNamePattern>
            <maxHistory>10<!-- days --></maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>20MB<!-- or whenever the file size reaches 20MB --></maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="ALERT_FILE">
        <file>${PREFIX_HOME}/Alert/Alert.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{MM-dd-yy HH:mm:ss.SSS} %-5level [%33.33logger{5}]: %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${PREFIX_HOME}/Alert/Alert-%d{MM-dd-yyyy}-%i.zip</fileNamePattern>
            <maxHistory>10<!-- days --></maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>20MB<!-- or whenever the file size reaches 20MB --></maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="SEARCH_STATS_APPENDER">
        <file>${PREFIX_HOME}/SearchStats/SearchStats.log</file>
        <append>true</append>
        <encoder>
            <pattern>%message,%d{MM/dd/yyyy},%d{MM/dd/yyyy hh:mm:ss a z}%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${PREFIX_HOME}/SearchStats/SearchStats-%d{MM-dd-yyyy}-%i.zip</fileNamePattern>
            <maxHistory>30<!-- days --></maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>8MB<!-- or whenever the file size reaches 8MB. Note: This is a CSV file Excel cannot reade more than 65k Lines --></maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <appender class="ch.qos.logback.classic.net.SMTPAppender" name="EMAIL">
        <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
            <marker>NOTIFY_ADMIN</marker>
        </evaluator>
        <smtpHost>email-smtp.us-east-1.amazonaws.com</smtpHost>
		<smtpPort>587</smtpPort>
		<username>AKIAJZSKMSNOBKAT2IZA</username>
		<password>AgSJzhgeLeNHZQaIioms6Y3lHYPaHgZCWrL7BcMraSt1</password>
    	<to>roamsupport@amcad.com</to>
        <from>no-reply@amcad.com</from>
        <subject>${HOSTNAME} - Local Machine Dev Error: %logger{20} - %msg</subject>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{MM-dd-yy HH:mm:ss.SSS} %-5level [%thread][%logger{40}] : %msg%n</pattern>
        </layout>
        <cyclicBufferTracker class="ch.qos.logback.core.spi.CyclicBufferTracker">
            <bufferSize>128</bufferSize>
        </cyclicBufferTracker>
    </appender>

    <logger level="INFO" name="net.javacoding.xsearch.core.task.dispatch"/>
    <logger level="INFO" name="net.javacoding"/>
    <logger level="DEBUG" name="org.springframework"/>
    <logger level="WARN" name="freemarker"/>
    <logger level="WARN" name="net.sf.jasperreports"/>
    <logger level="WARN" name="org.jmesa"/>
    <logger level="WARN" name="net.sf.ehcache"/>
    <logger level="WARN" name="org.apache"/>
    <logger level="WARN" name="org.quartz"/>
    <logger level="WARN" name="com.atomikos"/>
    <logger level="WARN" name="org.hibernate"/>
    <logger level="WARN" name="org.displaytag"/>
    <logger level="ERROR" name="com.fdt.common.util.TIFFToPDFConverter"/>

    <logger additivity="false" level="INFO" name="com.fdt.alerts.job">
    	<appender-ref ref="ALERT_FILE"/>
    </logger>

    <logger additivity="false" level="INFO" name="SEARCH_STATS_LOGGER">
        <appender-ref ref="SEARCH_STATS_APPENDER"/>
    </logger>

    <root level="DEBUG">
        <!-- Commented for Prod <appender-ref ref="STDOUT"/>  -->
        <appender-ref ref="FILE"/>
        <appender-ref ref="EMAIL"/>
    </root>

</configuration>
