@charset "utf-8";
/* Main Stylesheet */

body {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight:bold; 
    margin:4px 6px 4px 6px;
    font-size: 12pt;
}

#basicsearch{
   margin-top:50px;
}
#histbook{
    align:left;
}
/*.indexLogo {
   background: url("magenta_splash.jpg") white 50% no-repeat;
   height: 300px;}*/
   
.inactive {
	font-size: 90%;
}

.active {
    font-size: 90%;
}

table.main{ 
    width:100%;
    padding:5px;
    border-spacing:5px;
    border-width:0px;
    vertical-align:top;
}

td.mainLeft {
    width:15%;
    vertical-align:top;
    margin-left: 10px;
    border-width: 0px;
}

td.mainRight {
    width:85%;
    vertical-align: top;
    margin-left:10px;    
}

p.result {
    border-bottom:1px solid;
    font-size: 100%
}

.center{
    text-align:center;
}

table.resultHeader {   
    font-size: 10pt; 
    font-weight:bold;
    width:100%;
    border-width:0px;
    padding-left:5px;
    margin-top:25px;
    border-spacing:0px;
    border:1px;
}

font.label{
    font-size:90%;
}

input.text {
    background: #FFF url('magnifying-glass.gif') no-repeat;
    border-width: 2px; 
    clear:none;
    display:block;
    float:left;
    font-size:103%;
    height:35px;    
    padding:7px 0 0 35px;
    width:424px;
    margin: 0 auto;
}

button.search {
    border:2px solid; 
    padding:9px 9px 9px 9px;
    width:100px;
    font-weight:bold;    
    border-width:0;
    clear:none;
    cursor:pointer;
    display:block;
    line-height:1.2em;
}

div.more {
    font-size:10pt;
}

div.narrowByContent {
    font-size:10pt;
}

table.resultsPP {
    width:100%;
    padding:5px;
    border-spacing:0px;
    border-width:0px;
    font-size: 90%; 
}

td.resultHeadercolright {
    text-align: right;
    padding-right: 10px; 
    white-space: nowrap;
}

.multi_select form input.button,button.button {
    font-weight:bold;
    font-size:12px;
    margin:6px 0px 0px 0px;
    padding:1px 3px 1px 3px;
    border:1px solid;   
    cursor: pointer;
}

.multi_select form input.button:active {
    border-top:solid 2px;
    border-left:solid 2px;
}

multi_select form input.button:hover,button.button:hover {
    border:1px solid;
}

.paginationNormal {
	font-size: 80%; 
        align: center; 
}
.paginationNext {
	font-size: 80%; 
        align: center;
}



/* TABLES */

table.tablesorter {
    margin:0px 0pt 15px;
    font-size: 9pt;
    width: 100%;
    text-align: left;    
}

table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    border:1px solid;
    font-weight:bold;
    font-size: 9pt;
    padding-left: 15px;   
}

table.tablesorter thead tr .header { 
    cursor: pointer;
    padding:2px 4px;
}

table.tablesorter tbody td {
    padding: 4px;
    vertical-align: top;
}


table.tablesorter thead tr .header {	
	vertical-align:middle	
}

table.tablesorter thead tr th p {
	display:inline;
}

.column{
    width:100%;
    margin-right:.5%;
    min-height:100px;
}

div.box {
    font-size:90%;
    width:100%;
    border:1px solid;
    border-collapse:collapse;
    float:top
}

.box{
    position:relative;
    border:1px solid;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    font-size:90%;
}

.box th,.box .header{
    text-align:left;
    font-weight:bold; 
    border:1px;
}

.box h2{
    margin:0px;
    font-size:9pt;
    font-weight:bold;
    padding:2px;
    border-bottom:1px solid;    
}

.box a{
    font-size:100%;
}

.box h2.configure{
    font-size:11px; 
    font-weight:normal;
    margin-right:30px;  
    float:right;
}

.box h2 p {
	display:inline;
	height:15px;
	width:16px;		
}

.success{
    border:1px solid;
    padding:5px;
    font-weight:bold;
}

.more{
    display:block;
}

table#sortActions {
	font-size: 90%; 
}

select#sortColumns {
	font-size: 90%; 
}

a.gotoPage, a.gotoPage:link, a.gotoPage:visited {
font-weight: bold;
font-size: 9px;
font-family: Verdana, Arial, Helvetica, sans-serif;
padding: 4px 4px;
text-align: center;
width: 60px;
text-transform: uppercase;
color: #ccc; 
text-decoration: none;
}
.invalid {
    background: #FFFFEB;
    border: 1px solid red;
    
}

@charset "utf-8";
/* CSS Document */